@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,500,300&subset=latin,cyrillic);
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?20334919');
  src: url('../fonts/fontello.eot?20334919#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?20334919') format('woff2'),
  url('../fonts/fontello.woff?20334919') format('woff'),
  url('../fonts/fontello.ttf?20334919') format('truetype'),
  url('../fonts/fontello.svg?20334919#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
*sass/
*|
*|– base/
*|   |– _forms.scss        # Forms rules
*|   |– _typography.scss   # Typography rules
*|   |– _buttons.scss      # Buttons
*|   |– _forms.scss        # Forms
*|   …                     # Etc.
*|
*|– modules/
*|   |– _carousel.scss     # Carousel
*|   |– _cover.scss        # Cover
*|   |– _dropdown.scss     # Dropdown
*|   …                     # Etc.
*|
*|– partials/
*|   |– _navigation.scss   # Navigation
*|   |– _grid.scss         # Grid system
*|   |– _header.scss       # Header
*|   |– _footer.scss       # Footer
*|   |– _sidebar.scss      # Sidebar
*|   …                     # Etc.
*|
*|– pages/
*|   |– _home.scss         # Home specific styles
*|   |– _contact.scss      # Contact specific styles
*|   …                     # Etc.
*|
*|– themes/
*|   |– _theme.scss        # Default theme
*|   |– _admin.scss        # Admin theme
*|   …                     # Etc.
*|
*|– helpers/
*|   |– _variables.scss    # Sass Variables
*|   |– _functions.scss    # Sass Functions
*|   |– _mixins.scss       # Sass Mixins
*|   |– _placeholders.scss # Sass Placeholders
*|
*|– vendors/
*|   |– _reset.scss         # Reset
*|   |– _debug.scss         # Debug mode
*|   …                      # Etc.
*|
*`– main.scss              # Main Sass file
*/


/**
 * Which objects and abstractions would you like to use?
 */
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                true!default;
$use-input-group:              true!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             true!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-alerts:                   false!default;
$use-breadcrumb:               false!default;
$use-pagination:               true!default;
$use-pager:                    true!default;
$use-space:                    true!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    false!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  false!default;
// plugins
$use-animations:               true!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Partials
@import "partials/*.scss";

// Modules
@import "modules/*.scss";

// Pages
@import "pages/*.scss";

