ul.pager
    li.previous
        a(href='#')
            span Предыдущая новость
    li.previous.hvr-sweep-to-left
        a.arr(href='#')
            i.icon-left-open
    li.next.hvr-sweep-to-left
        a.arr(href='#')
            i.icon-right-open