ul.pagination
    li.pagination__item.active
        a.arr(href='#') 1
    li.pagination__item
        a.arr(href='#') 2
    li.pagination__item.hvr-sweep-to-left.hidden__xs.hidden__sm
        a(href='#') Следующая
        a.arr(href='#'): i.icon-right-open