ul.pager.text--right
    li.hidden__md.hidden__lg.hidden__xlg.pull-left
        .one-news__date
            .month 14  Апреля
    li.previous.hidden__sm.hidden__xs
        a(href='#')
            span Предыдущая новость
    li.previous.hvr-sweep-to-left
        a.arr(href='#')
            i.icon-left-open
    li.next.hvr-sweep-to-left
        a.arr(href='#')
            i.icon-right-open