ul.pager.text--left
    li.previous.hvr-sweep-to-left
        a.arr(href='#')
            i.icon-left-open
    li.next.hvr-sweep-to-left
        a.arr(href='#')
            i.icon-right-open
    li.next
        a(href='#')
            span Следующая