//
// Base -> Print
// --------------------------------------------------

@media print {

  @page {
    margin: 1cm;
    size: A4 portrait;
  }

  *, ::before, ::after {
    box-shadow: none !important;
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links that are fragment identifiers,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  // Printing Tables:
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /**
    * Avoid too large gaps before each new chapter
  */
  h1 {
    margin-top: 3rem;
  }


  /**
   * Avoid breaking page right after a title
  */
  h1, h2, h3 {
    page-break-after: avoid;
  }

  /**
  * Hide any superfluous element
  * S1. Further reading links
  * S2. Buttons
  * S3. Option panel
  * S4. Button to go back to top
  * S5. Anchor links in headings
  * S6. Content about translation on top
  * S7. Table of contents
  * S8. Sass-syntax code blocks
  * S9. SVG icons
  */
  h6, h6 + ul,
  .donate,
  .button,
  .aside,
  .button-ui--back,
  .anchor-link,
  .translation-warning,
  .toc,
  [data-syntax='sass'],
  svg {
    display: none;
  }

  @include responsive-invisibility('.hidden--print');
}

