//
// Partials -> Footer
// ------------------------------------


/**
 * Footer
*/
.page-footer {
  padding-top: 20px;
  padding-bottom: 8px;
  //border-top: 1px solid $gray-darken;
  background-color: #fafafa;
  &__soc {
    margin: 30px 0;
    //text-align: right;
    display: table;
    width: 100%;
    text-align: center;
    @media (min-width: $screen-lg-min) {
      display: block;
      text-align: right;
    }
    .navbar__social {
        //display: inline-block;
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: table-cell;
        vertical-align: bottom;
      }
    }
    .nav li {
      display: block;
      @media (min-width: $screen-lg-min) {
        display: inline-block;
      }
    }
    .main-nav {
      margin-bottom: 20px;
      @media (min-width: $screen-adaptive-nav) {margin-top: 0;}
    }
  }
  &__top {
    display: table;
    width: 100%;
  }
  &__bottom {
    a {color: #767676}
  }
  @media (min-width: $screen-md-min) {
    .page-header__logo, .navbar__login, .main-nav {
      display: table-cell;
      vertical-align: bottom;
      padding: 0;
      margin: 0;
    }
  }
  .main-nav {
    ul {margin-top: 0;}
    li {
      a {
        font-size: 16px;
        font-weight: 300;
        color: black;
      }
    }
  }
}