//
// Partials -> Header
// ------------------------------------


/**
 * Header
*/
.page-header {
  //border-bottom: 1px solid $base-color-darken;
  background-color: $white-lighten;
  .main-nav {
    border-top: 1px solid #e8e8e8;
    margin-top: 30px;
    min-height: 49px;
    position: relative;
    @media (min-width: $screen-adaptive-nav) {
      border-top: none;
      margin-top: 0;
    }
  }
  @media (min-width: $screen-adaptive-nav) {
    padding: 5px 0 19px;
  }
  &__logo {
    @media (min-width: $screen-adaptive-nav) {
      padding-top: 20px;
    }
    a {text-decoration: none;}
    img {
      vertical-align: middle;
    }
  }
}
.main-nav {
  //margin-top: 9px;
  display: block;
  vertical-align: middle;
  @media (min-width: $screen-xlg-min) {
    //text-align: left;
    display: inline-block;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
    text-align: center;
  }
}

/**
 * Main title
*/
.title { }


/**
 * old-browser
*/
.browsehappy {
  @extend .container;
}
.lt-ie8 { }