//
// Partials -> Main
// ------------------------------------


/**
 * Main container
*/
.fullwi {
  width: 100%;
}
.top-head {
  background-color: #f2f2f2;
}

.decor-title {
  position: relative;
  margin-bottom: 94px;
  &::after {
    content: '';
    max-width: 349px;
    width: 100%;
    height: 32px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -60px;
    background: url("../images/decor.png") center center no-repeat;
  }
}

//tempaltes
.text-template {
  padding: 20px 0;
}
.dark-template {
  padding: 20px 0;
  background-color: $base-color-darken;
}
//tempaltes


//banner
.banner {
  padding: 24px 0;
  position: relative;
  @media (min-width: $screen-adaptive-nav) {
    padding: 86px 0;
  }
  .inner {
    margin: auto;
    text-align: center;
    color: $base-color-main;
    background-color: rgba(255,255,255,0.9);
    padding: 14px;
    max-width: 377px;
    h1, h2 {
      font-weight: 300;
      padding: 29px;
      margin: auto;
      border: 2px solid #ebebeb;
    }
  }
  &-slider {
    color: #fff;
    text-align: center;
    background-color: rgba(21, 117, 190,0.9);
    padding: 34px 10px 54px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    img {margin: auto;}
  }
  &-news, &-contacts {
    background: url("../images/img-news.jpg") no-repeat center center / cover;
  }
  &-about {
    background: url("../images/img-about.jpg") no-repeat center center / cover;
  }
  &-gallery {
    background: url("../images/img-gallery.jpg") no-repeat center center / cover;
  }
  &-sitemap {
    height: 299px;
    background: url("../images/img-sitemap.jpg") no-repeat center center / cover;
  }
  &-products {
    height: 549px;
    background: url("../images/img-products.jpg") no-repeat center center / cover;
  }
  &-product {
    height: 549px;
    background: url("../images/img-product.jpg") no-repeat center center / cover;
  }
  &-system {
    height: 549px;
    background: url("../images/img-system.jpg") no-repeat center center / cover;
    .inner {
      max-width: 480px;
    }
    .banner-slider {
      padding: 44px 10px;
    }
  }
  &-production {
    background: url("../images/img-production.jpg") no-repeat center center / cover;
    .inner {
      max-width: 480px;
    }
  }
  &-career {
    background: url("../images/img-career.jpg") no-repeat center center / cover;
  }
  &-search {
    height: 299px;
    background: url("../images/img-search.jpg") no-repeat center center / cover;
  }
  @media (min-width: $screen-lg-min) {
    span {display: block;}
  }
}
//banner

//reasons
.reasons {
  text-align: center;
  padding: 80px 0 70px;
  &__item {
    padding: 20px 0 30px;
  }
  &__img {
    height: 90px;
    line-height: 90px;
  }
  &__body {
    p {color: #6d6d6d;}
    h5 {
      margin-bottom: 25px;
      text-transform: uppercase;
    }
  }
}
//reasons

//types
.types {
  @media (max-width: $screen-sm-max) {
    .cell {padding: 0;}
  }
  .btn__sm { max-width: 175px;}
  &__top {
    color: #fff;
    @media (min-width: $screen-adaptive-nav) {
      position: relative;
      background: url("../images/img-types--1.jpg") no-repeat center center / cover;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 58%;
        height: 100%;
        background-color: rgba(35, 121, 186, 0.9);
      }
      &::before {
        content: '';
        position: absolute;
        top: 18%;
        right: 50%;
        width: 0;
        height: 0;
        opacity: 0.9;
        border-style: solid;
        border-width: 30px 30px 30px 0;
        border-color: transparent #2379ba transparent transparent;
      }
    }
    @media (min-width: $screen-xlg-min) {
      &::after {
        width: 50%;
      }
    }
  }
  &__bottom {
    color: #fff;
    @media (min-width: $screen-adaptive-nav) {
      position: relative;
      background: url("../images/img-types--2.jpg") no-repeat center center / cover;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(37, 140, 200, 0.9);
      }
      &::before {
        content: '';
        position: absolute;
        top: 18%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0.9;
        border-style: solid;
        border-width: 30px 0 30px 30px;
        border-color: transparent transparent transparent #258cc8;
      }
    }
  }
  img { vertical-align: middle;}
  .inner {
    padding: 15px 20px 20px;
    position: relative;
    z-index: 10;
    background-color: $base-color-main;
    @media (min-width: $screen-adaptive-nav) {
      background-color: transparent;
      padding: 40px 33px 50px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 60px 33px 96px;
    }
    img {
      margin-right: 22px;
      vertical-align: middle;
    }
    a:not(.btn) {
      color: #fff;
      text-decoration: none;
      &:hover {text-decoration: underline;}
    }
  }
}
//types

//news
.news {
  background-color: #f6f6f6;
  padding: 69px 0 50px;
  color: $base-color-main;
  &__item {
    text-align: left;
    background-color: white;
    @media (min-width: $screen-lg-min) {
      margin: 0 6px 12px;
    }
  }
  &__img {
    text-align: center;
    overflow: hidden;
    img {
      margin: auto;
      vertical-align: middle;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
    @media (min-width: $screen-md-min) {
      max-height: 242px;
    }
  }
  &__body {
    padding: 6px 20px 26px;
    p {color: #6d6d6d;margin-bottom: 0;}
    h5 {
      font-weight: 400;
      margin-bottom: 44px;
    }
    a {
      color: #0872c3;
      text-decoration: none;
      &:hover {text-decoration: underline;}
    }
  }
}
.one-news {
  padding: 32px 0 19px;
  color: #4e4e50;
  .pager {margin: 10px 0;}
  &__date {
    width: 124px;
    line-height: 1.1;
    padding: 17px 19px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color: $base-color-main;
    @media (min-width: $screen-md-min) {
      padding: 19px 19px 23px;
      font-weight: 700;
    }
    .date {
      font-size: 56px;
    }
    .month {
      font-size: 16px;
    }
  }
  h3 {
    margin-bottom: 30px;
    font-weight: 700;
    @media (min-width: $screen-lg-min) {
      margin-top: 0;
    }
  }
}
//news

//news-list
.news-list {
  background-color: #f2f2f2;
  padding: 26px 0;
  &__archive {
    font-size: 22px;
    display: inline-block;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    a {
      color: #6d6d6d;
      text-decoration: none;
      font-weight: 700;
    }
    li {
      padding: 0 13px;
    }
    .active a, a:hover {
      color: $base-color-main;
    }
  }
  &__inner {
    .news__item {
      width: 96%;
      vertical-align: top;
      display: inline-block;
      margin: 0 6px 12px;
      @media (min-width: $screen-sm-min) {
        width: 46%;
      }
      @media (min-width: $screen-md-min) {
        width: 48%;
      }
      @media (min-width: $screen-lg-min) {
        width: 31%;
      }
    }
  }
}
//news-list

//virtu
.virtu {
  text-align: center;
  color: white;
  background-color: $base-color-main;
  padding: 39px 0 73px;
}
//virtu


//share
.share {
  padding: 24px 0;
  ul {margin: 0;}
  li {
    vertical-align: middle;
    color: black;
  }
  b {font-weight: 700;}
  a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    border: 1px solid #e8e8e8;
    &:hover {
      background-color: #eee;
    }
  }
  i {font-size: 20px;}
  .fa a {color: #6b87ad;}
  .odn a {color: #d86a43;}
  .vk a {color: #396a93;}
}
//share

//gallery
.gallery, .circle, .about {
  &-item {
    img {
      opacity: 0.5;
      display: inline-block;
      vertical-align: middle;
      &:hover {
        opacity: 1;
      }
    }
    //.slick-current img {
    //  opacity: 1;
    //}
  }
  &__inner {
    padding: 40px 0;
    @media (min-width: $screen-adaptive-nav) {
      padding: 79px 0 89px;
    }
  }
  .slick-prev, .slick-next {
    width: 75px;
    height: 150px;
    background-color: $base-color-light;
    &::before {
      font-size: 40px;
      line-height: 75px;
      height: 75px;
      color: #fff;
      &:hover {
        background-color: $base-color-main;
      }
    }
    &::after {
      content: '\e800';
      font-family: "fontello";
      display: block;
      color: #fff;
      font-size: 23px;
      width: 75px;
      height: 75px;
      line-height: 75px;
      background-color: rgba(1, 24, 85, 0.8);
      &:hover {
        background-color: rgba(1, 24, 85, 1);
      }
    }
  }
  .slick-prev {
    top: 75px;
    right: 92.5%;
    @media (min-width: $screen-md-min) {
      right: 94%;
    }
    @media (min-width: $screen-lg-min) {
      right: 69.8%;
    }
  }
  .slick-next {
    top: auto;
    bottom: -75px;
    left: 92.5%;
    @media (min-width: $screen-md-min) {
      left: 94%;
    }
    @media (min-width: $screen-lg-min) {
      left: 69.8%;
    }
  }
}
.about-item img {opacity: 1}
.imageLink {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
  }
}
//gallery


//contacts
.contacts {
  padding-top: 42px;
  @media (min-width: $screen-adaptive-nav) {
    padding-top: 76px;
  }
  .share {
    padding: 10px 0;
    margin-left: -4px;
  }
  p {
    margin-bottom: 16px;
  }
  b {
    margin-bottom: 7px;
  }
  &-person {
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px 0 76px;
    &__item {
      margin-top: 20px;
      padding: 0 20px;
      @media (min-width: $screen-adaptive-nav) {
        padding: 0 10px;
      }
      img { margin: auto;}
    }
    .decor-title::after {
      height: 36px;
      background: url("../images/decor2.png") center center no-repeat;
    }
    h1 {color: #0872c3;}
    h3 {font-weight: 700;}
    .btn {
      white-space: normal;
      height: 74px;
    }
  }
  .tabs__caption a, .accordion__item {
    padding-left: 50px;
    background: url("../images/icon-location.png") center left 20px no-repeat, #fff;
  }
  .tabs__caption .active a, .tabs__caption a:hover, .accordion__item.active {
    background: url("../images/icon-location-active.png") center left 20px no-repeat, $base-color-main;
  }
  &-phone {
    color: #fff;
    background-color: $base-color-main;
    padding: 36px;
    text-align: center;
    h3 {margin: 0}
  }
}
//contacts

//sitemap
.sitemap {
  padding: 43px 0;
  &-links {
    margin-top: 20px;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 700;
    li {margin-bottom: 26px;}
    a {
      color: $base-color-main;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      font-size: 16px;
      font-weight: 300;
      margin-left: 20px;
      a {color: black;}
      li {
        margin-bottom: 5px;
        &::before {
          content: '- ';
        }
      }
    }
  }
}
//sitemap


//products
.products {
  background: url("../images/img-products--1.jpg") no-repeat center / cover;
  @media (min-width: $screen-lg-min) {
    padding: 52px 0;
  }
  h1 {
    margin-bottom: 41px;
    color: $base-color-main;
  }
  img {vertical-align: middle;}
  .types {
    margin-bottom: 46px;
    &__top {
      background: url("../images/img-types--3.jpg") no-repeat left center;
      &::before {display: none;}
    }
    .inner {
      padding: 30px 22px 39px;
      background-color: $base-color-main;
      @media (min-width: $screen-lg-min) {
        background-color: transparent;
      }
    }
  }
  &__analogs {
    margin-top: 40px;
    margin-bottom: 35px;
  }
  &-catalog {
    padding: 40px 0 10px;
    h1 {
      margin-bottom: 41px;
      color: $base-color-main;
    }
    .decor-title::after {
      background: url("../images/decor3.png") center center no-repeat;
      height: 35px;
    }
    &__item {
      position: relative;
      background-color: white;
      border: 1px solid #e8e8e8;
      display: block;
      text-decoration: none;
      margin-bottom: 15px;
      &:hover {
        //-webkit-box-shadow: 0 0 14px 3px rgba(0,0,0,0.39);
        //-moz-box-shadow: 0 0 14px 3px rgba(0,0,0,0.39);
        //box-shadow: 0 0 14px 3px rgba(0,0,0,0.39);
        img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
    &__cat {
      position: absolute;
      top: -1px;
      left: -1px;
      font-weight: 700;
      padding: 13px 39px;
      text-align: center;
      color: #5b5b5b;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      z-index: 10;
    }
    &__img {
      padding: 10px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      overflow: hidden;
      img {
        vertical-align: middle;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
      }
    }
    &__title {
      padding: 20px;
      background-color: $base-color-main;
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
    }
    .tabs__caption {
      margin-bottom: 14px;
      font-size: 0;
      li {
        font-size: 16px;
        display: inline-block;
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          margin-bottom: 10px;
        }
        a {
          width: 100%;
          padding: 15px 42px;
          height: 52px;
          text-align: center;
        }
      }
    }
    .row {
      margin-left: -6px;
      margin-right: -6px;
    }
    .cell {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  &-text {
    color: #fff;
    padding: 20px 0;
    background: url("../images/img-products--10.jpg") no-repeat center center / cover;
    @media (min-width: $screen-md-min) {
      padding: 40px 0 66px;
    }
    h1 {
      margin-bottom: 41px;
    }
    p {margin-bottom: 20px;}
    .decor-title::after {
      background: url("../images/decor4.png") center center no-repeat;
    }
  }
}
//products



//product
.product {
  padding-top: 50px;
  h3 { font-weight: 700;}
  .share {padding-top: 0;}
  &-catalog {
    h3 { font-weight: 700;}
    padding: 60px 0 0;
    h1 {
      margin-bottom: 41px;
      color: $base-color-main;
    }
    .decor-title::after {
      background: url("../images/decor3.png") center center no-repeat;
    }
    &__item {
      position: relative;
      background-color: white;
      border: 1px solid #e8e8e8;
      display: block;
      text-decoration: none;
      margin-bottom: 15px;
      padding: 80px;
      &-mini {
        padding: 20px 6px;
        margin: 0 10px;
      }
    }
    &__cat {
      position: absolute;
      top: -1px;
      left: -1px;
      font-weight: 700;
      padding: 13px 39px;
      text-align: center;
      color: #5b5b5b;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      z-index: 10;
    }
    &__img {
      padding: 10px;
      text-align: center;
      @media (min-width: $screen-md-min) {
        height: 350px;
        line-height: 350px;
      }
      img {vertical-align: middle;}
      &-mini {
        height: auto;
        line-height: 1;
        padding: 0;
      }
    }
    .tabs {
      margin: 0;
      &__caption {
        margin-bottom: 23px;
        font-size: 0;
        li {
          font-size: 16px;
          a {
            width: 100%;
            padding: 15px 5px;
            height: 52px;
            text-align: center;
          }
          @media (min-width: $screen-lg-min) {
            display: inline-block;
            a {
              padding: 15px 22px;
            }
          }
        }
      }
    }
  }
  .btn img {
    vertical-align: top;
  }
}
//product


//system
.system {
  padding: 50px 0;
  background: url("../images/img-system--1.jpg") no-repeat center center / cover;
  .inner {
    background-color: white;
    padding: 24px 14px;
    @media (min-width: $screen-lg-min) {
      padding: 34px;
    }
    h1 {color: #1878c1;
      margin-bottom: 35px;}
    p {color: #4e4e50;}
    &-title {
      padding: 40px;
      color: #fff;
      text-align: center;
      background-color: rgba(11, 106, 179,0.9);
      h1 {margin: 0;}
    }
    &-cat {
      display: table;
      width: 100%;
      color: #fff;
      font-size: 0;
      &__item {
        width: 100%;
        padding: 30px;
        height: 319px;
        vertical-align: middle;
        font-size: 16px;
        display: inline-block;

        @media (min-width: $screen-md-min) {
          width: 50%;
        }
        @media (min-width: $screen-lg-min) {
          display: table-cell;
          width: auto;
        }
        &:first-child {
          background: url("../images/img-system--2.jpg") no-repeat center center / cover;
          &:hover {background: #b21859;}
        }
        &:nth-child(2) {
          background: url("../images/img-system--3.jpg") no-repeat center center / cover;
          &:hover {background: #4d59a1;}
        }
        &:nth-child(3) {
          background: url("../images/img-system--4.jpg") no-repeat center center / cover;
          &:hover {background: #ff950d;}
        }
        &:last-child {
          background: url("../images/img-system--5.jpg") no-repeat center center / cover;
          &:hover {background: #0b6ab3;}
        }
      }
      &__img {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 50px;
        @media (min-width: $screen-lg-min) {
          margin-top: 0;
        }
      }
      img {text-align: center;}
    }
  }
}
//system

//production
.production {
  padding: 79px 0 50px;
  @media (min-width: $screen-md-min) {
    text-align: center;
  }
  &-img {
    padding: 45px;
    background-color: #f6f6f6;
    text-align: center;
  }
  &-part {
    text-align: center;
    padding: 60px 0 75px;
    background-color: #f2f2f2;
    h1 {color: $base-color-main;}
    h3 {font-weight: 700;}
    .decor-title::after {
      height: 38px;
      background: url("../images/decor5.png") center center no-repeat;
    }
    &__img {
      margin-bottom: 24px;
      height: 65px;
    }
    &__item {
      margin-top: 50px;
      margin-bottom: 40px;
      padding: 0 30px;
    }
  }
}
//production


//career
.career {
  padding: 35px 0 25px;
  @media (min-width: $screen-adaptive-nav) {
    padding: 80px 0 65px;
  }
  &-types {

    .types__top {
      @media (min-width: $screen-adaptive-nav) {
        letter-spacing: -0.5px;
        padding-bottom: 51px;
      }
      background: url("../images/img-types--4.jpg") no-repeat center center/cover;
      &::after {
        background-color: transparent;
        position: relative;
      }
      &::before {
        display: none;
      }
    }
    a {color: #fff;
      display: table;width: 100%}
    span {
      display: table-cell;
      vertical-align: middle;
      max-width: inherit;
      padding-left: 22px;
    }
    h2 {margin-top: 0;}
    img {
      vertical-align: middle;
      margin-right: 22px;
      display: inline-block;
    }
    .list--bullet > li::before {
      color: #fff;
    }
    .inner {padding: 32px 10px 15px;height: 400px;}
    .cell {
      background-color: rgba(8, 114, 195, 0.9);
      &-light {
        background-color: rgba(13, 127, 194,0.9);
      }
    }
  }
  &-slider {
    padding: 32px 0 55px;
    color: #fff;
    background: url("../images/img-career--1.jpg") no-repeat center / cover;
    .slick-next {
      left: 97%;
    }
    .slick-prev {
      right: 97%;
    }
    .list--bullet > li::before {
      color: #fff;
    }
  }
  &-mail {
    text-align: center;
    background-color: #f2f2f2;
    padding: 48px 0 37px;
    .btn {line-height: 1.7;}
  }
  &-part {
    text-align: center;
    @media (min-width: $screen-adaptive-nav) {
      padding-top: 25px;
    }
    h5,h3 { margin-top: 0;font-weight: 700;}
    .decor-title {
      color: $base-color-main;
      &::after {
        background: url("../images/decor6.png") center center no-repeat;
        height: 46px;
      }
    }
    .cell {
      padding-left: 0;
      padding-right: 0;
    }
    &__item {
      color: #fff;
      text-align: left;
      position: relative;

      @media (min-width: $screen-adaptive-nav) {
        overflow: hidden;
        &:hover .career-part__desc {
          //display: block;
          visibility: visible;
          -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
        }
      }
      @media (min-width: $screen-adaptive-nav) {
        &:hover .career-part__title {
          bottom: 0;
          max-height: 410px;
          @include transition(all 1s ease);
        }
      }
    }
    &__title {
      padding: 10px 23px;
      background-color: rgba(8, 114, 195, 0.9);
      @media (min-width: $screen-adaptive-nav) {
        padding: 10px 23px 0;
        top: 0;
        left: 0;
        right: 0;
        max-height: 83px;
        position: absolute;
      }
    }
    &__img {
      img {vertical-align: middle;}
    }
    &__desc {
      //display: none;
      z-index: 1;
      font-size: 14px;
      @media (min-width: $screen-adaptive-nav) {
        letter-spacing: -1px;
        visibility: hidden;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      //background-color: rgba(8, 114, 195, 0.9);
    }
  }
}
//career

//about
.about {
  &-txt {
    padding: 68px 0;
    h3 {
      font-weight: 700;
      margin-top: 0;
      @media (min-width: $screen-adaptive-nav) {
        font-size: 21px;
      }
    }
  }
  &-list {
    font-size: 15px;
    li {
      padding: 9px;
      &:nth-child(even) {
        color: white;
        background-color: $base-color-main;
      }
      &:nth-child(odd) {
        color: #4e4e50;
        background-color: whitesmoke;
      }
    }
  }
  &-story {
    padding-top: 42px;
    .decor-title {
      color: $base-color-main;
      &::after {
        height: 50px;
        background: url("../images/decor7.png") center center no-repeat;
      }
    }
    .inner {
      font-size: 32px;
      background-color: whitesmoke;
    }
  }
  &-date {
    padding: 37px 0;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 124px;
    &.slick-current {
      color: $base-color-main;
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17.5px 18px 17.5px;
        border-color: transparent transparent #0b6ab3 transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &-dateinfo {
    padding: 40px;
    color: #fff;
    min-height: 470px;
    h2 {
      font-size: $font-size-h1;
      margin-top: 0;
    }
    blockquote {
      display: inline-block;
      padding: 15px;
      margin: 17px 0;
      border: 4px solid #177fce;
      &::before {
        display: none;
      }
    }
    &.lower {
      text-align: right;
      @media (min-width: $screen-adaptive-nav) {
        padding-top: 200px;
      }
    }
  }
  &-award {
    padding-top: 42px;
    .decor-title {
      color: $base-color-main;
      &::after {
        background: url("../images/decor8.png") center center no-repeat;
      }
    }
    &__item {
      display: table;
      vertical-align: middle;
      width: 100%;
      margin-bottom: 16px;
    }
    &__ico {
      display: none;
      padding: 30px;
      img {max-width: inherit }
      @media (min-width: $screen-adaptive-nav) {
        display: table-cell;
      }
    }
    &__desc {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid #ebebeb;
      b {font-weight: 700;}
    }
  }
  &-program {
    background: url("../images/img-award--1.jpg") no-repeat top center / cover;
    .decor-title {
      &::after {
        background: url("../images/decor9.png") center center no-repeat;
      }
    }
    .inner {
      max-width: 1280px;
      p {color: #4e4e50;}
      h1 {border: none;}
      &__decor {border: 2px solid #ebebeb;}
    }
    .types {
      @media (min-width: $screen-adaptive-nav) {
        padding: 76px 0;
      }
      &__top {
        background: none;
        &::after {
          display: none;
        }
        .inner {
          padding: 10px 15px 25px;
          @media (min-width: $screen-adaptive-nav) {
            padding: 80px 15px 99px;
          }
        }
      }
      p { color: white;}
      h2 {height: 43px;}
      .cell:first-child {
        background-color: rgba(11, 106, 179, 0.9);
      }
      .cell:last-child {
        background-color: rgba(13, 127, 194, 0.9);
      }
    }
  }
}
//about


//search
.search {
  padding: 20px 0;
  h3, b { font-weight: 700;}
  a {color: #000}
  &__item {
    margin: 40px 0;
  }
}
//search


//plugins
.tabs {
  margin-bottom: 42px;
  position: relative;
  overflow: hidden;
  b {
    font-weight: 700;
  }
  h3 {margin-top: 5px;}
  &__inner {
    background-color: #f2f2f2;
    padding: 10px;
  }
  &__caption {
    width: 100%;
    display: table;
    margin-bottom: 24px;
    span {
      color: #6d6d6d;
      display: block;
    }
    li {
      display: table-cell;
      vertical-align: top;
      a {
        color: black;
        display: table;
        width: 100%;
        padding: 15px 12px;
        height: 76px;
        border: 1px solid #e8e8e8;
        @media (min-width: $screen-xlg-min) {
          padding: 15px 22px;
          width: 91%;
        }
      }
      i,p {
        display: table-cell;
        vertical-align: middle;
      }
      i {
        font-size: 18px;
      }
      &.active a, a:hover {
        color: #fff;
        background-color: $base-color-main;
        border-color: darken($base-color-main, 8%);
        span {color: #fff;}
      }
      //&:not(:last-child) a {margin-right: 24px;}
    }
  }
  &__content {
    //display: none;
    padding-top: 15px;
    z-index: 1;
    display: none;
    @media (min-width: $screen-adaptive-nav) {
      display: block;
      visibility: hidden;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      top: -100%;
    }
    &.active {
      //display: block;
      position: relative;
      display: block;
      @media (min-width: $screen-adaptive-nav) {
        visibility: visible;
        top: 0;
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
      }
    }
  }
}
.accordion {
  &__item {
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background: url('../images/acc_down.png') center right 20px no-repeat, #fff;
    p, i {
      display: table-cell;
      vertical-align: middle;
    }
    @media (min-width: $screen-adaptive-nav) {
      display: none;
    }
    &:hover,
    &.active {
      color: $white-lighten;
      background: url('../images/acc_up.png') center right 20px no-repeat, $base-color-main;
    }
  }
}
//plugins