//
// Modules -> Navs
// --------------------------------------------------

.nav {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix;
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
      margin-top: 30px;
      white-space: nowrap;
    }
  }
  li {
    position: relative;
    display: block;
    padding: 0 5px;
    @media (min-width: $screen-adaptive-nav) {
      display: inline-block;
    }
    a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      text-decoration: none;
      font-size: 18px;
      color: $base-color-main;
      font-weight: 500;
      text-align: center;
      @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {font-size: 16px;}
      @media (min-width: $screen-md-min) {
        text-align: left;
        padding: 0;
      }
      &:hover {
        color: $white-lighten;
        background-color: $base-color-main;
        @media (min-width: $screen-md-min) {
          text-decoration: underline;
          color: $base-color-main;
          background-color: transparent;
        }
      }
    }
  }
  li > a > img {
    max-width: none;
  }

  &__justified {
    width: 100%;

    li {
      float: none;
      > a {
        text-align: center;
        margin-bottom: 5px;
      }
    }
    @media (min-width: $screen-adaptive-nav) {
      li {
        display: table-cell;
        width: 1%;
        > a {
          margin-bottom: 0;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}

.sub-nav {
  li {
    display: block;
    a {padding-left: 30px;}
    a:hover {
      background: $subnav-link-hover-bg;
    }
  }
  @media (min-width: $screen-adaptive-nav) {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
    a {padding-left: 15px;}
  }
}

.main-nav {
  &__toggle {
    //position: relative;
    //float: right;
    padding: 9px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 10;

    &:focus {
      outline: 0;
    }
    .icon-bar {
      display: block;
      width: 25px;
      height: 5px;
      background: $base-color-main;
      border-radius: 1px;
    }
    .icon-bar + .icon-bar {
      margin-top: 3px;
    }
    @media (min-width: $screen-adaptive-nav) {
      display: none;
    }
  }
  &__collapse {
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;
    clear: left;
    display: none;

    &.in {
      overflow-y: auto;
    }

    @media (min-width: $screen-lg-min) {
      padding-right: $navbar-padding-horizontal;
      padding-left: $navbar-padding-horizontal;
    }
    @media (min-width: $screen-adaptive-nav) {
      display: block !important;
      width: auto;
      border-top: 0;
      box-shadow: none;

      &.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }

      &.in {
        overflow-y: visible;
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
  &__login {
    margin-bottom: 25px;
    @media (min-width: $screen-adaptive-nav) {
      text-align: right;
    }
    img {
      margin-left: 12px;
      vertical-align: bottom;
    }
  }
  &__social {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    &__item { }
    &__link {
      width: 35px;
      height: 35px;
      color: #737373;
      border: 1px solid #737373;
      @include border-radius(50%);
      display: block;
      text-align: center;
      padding: 5px;
    }
  }
}