//
// Modules -> Pager pagination
// --------------------------------------------------

@if $use-pager == true {
  .pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    @include clearfix;
    li {
      vertical-align: top;
      display: inline-block;
      margin: 10px 0;
      & + & {
        margin-left: 6px;
      }
      > a,
      > span {
        display: inline-block;
        text-decoration: none;
        padding: 5px 14px;
        height: 51px;
        line-height: 41px;
        border: 1px solid $pager-border;
        &.arr {
          width: 51px;
          //background-color: $pager-bg;
        }
      }

      > a:hover,
      > a:focus {
        text-decoration: none;
        color: $pager-hover-color;
        background-color: $pager-hover-bg;
        border-color: $pager-hover-bg;
      }
    }

    .next {
      > a,
      > span {
        //float: right;
      }
    }

    .previous {
      > a,
      > span {
        //float: left;
      }
    }
  }
}
