//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    padding-left: 0;
    margin: $line-height-computed 0;

    &__item {
      display: inline-block;
      margin: 10px 0;
      //margin-left: -5px;
      & + & {
        margin-left: 6px;
      }
      a,
      span {
        display: inline-block;
        text-align: center;
        position: relative;
        padding: 5px 14px;
        height: 51px;
        line-height: 41px;
        text-decoration: none;
        color: #6d6d6d;
        //background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        &.arr {
          width: 51px;
          background-color: transparent;
        }
        + a.arr {
          margin-left: -1px;
          background-color: $pagination-bg;
        }
        i {
          color: $pagination-color;
        }
      }
      &:first-child {
        a,
        span {
          margin-left: 0;
          //@include border-left-radius($border-radius-base);
        }
      }
      &:last-child {
        a,
        span {
          //@include border-right-radius($border-radius-base);
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        //border-color: $pagination-hover-border;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
