//
// Modules -> Visibility utilities
// --------------------------------------------------

@if $use-adaptive == true {
  @include responsive-invisibility('.visible__xs');
  @include responsive-invisibility('.visible__sm');
  @include responsive-invisibility('.visible__md');
  @include responsive-invisibility('.visible__lg');
  @include responsive-invisibility('.visible__xlg');

  .visible__xs-inline-block,
  .visible__sm-inline-block,
  .visible__md-inline-block,
  .visible__lg-inline-block,
  .visible__xlg-inline-block{
    display: none !important;
  }

  @media (max-width: $screen-xs-max) {
    @include responsive-visibility('.visible__xs');
  }
  .visible__xs-inline-block {
    @media (max-width: $screen-xs-max) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive-visibility('.visible__sm');
  }
  .visible__sm-inline-block {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive-visibility('.visible__md');
  }
  .visible__md-inline-block {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-lg-min) {
    @include responsive-visibility('.visible__lg');
  }
  .visible__lg-inline-block {
    @media (min-width: $screen-lg-min) {
      display: inline-block !important;
    }
  }

  @media (min-width: $screen-xlg-min) {
    @include responsive-visibility('.visible__xlg');
  }
  .visible__xlg-inline-block {
    @media (min-width: $screen-xlg-min) {
      display: inline-block !important;
    }
  }

  @media (max-width: $screen-xs-max) {
    @include responsive-invisibility('.hidden__xs');
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive-invisibility('.hidden__sm');
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive-invisibility('.hidden__md');
  }

  @media (min-width: $screen-lg-min) {
    @include responsive-invisibility('.hidden__lg');
  }

  @media (min-width: $screen-xlg-min) {
    @include responsive-invisibility('.hidden__xlg');
  }
}