footer.page-footer
	.container
		.page-footer__top
			.page-header__logo.text--center.text__md--left
				a(href="/")
					img(src="images/logo-footer.png", alt="Company ltd.")
			nav.nav.main-nav.text--center
				.visible__lg-inline-block
					.main-nav__collapse
						+menu(navigationfooter)
			.navbar__login.hidden__xs.hidden__sm
				span.text__sm Входит в группу компаний
					img(src="images/logo-mini.png", alt="Company ltd.")
		.page-footer__soc
			.hidden__lg
				nav.nav.main-nav
					.text--left
						+menu(navigationfooter)
			ul.list--inline.navbar__social
				li.navbar__social__item: a.navbar__social__link(href="#"): i.icon-facebook
				li.navbar__social__item: a.navbar__social__link(href="#"): i.icon-vkontakte
				li.navbar__social__item: a.navbar__social__link(href="#"): i.icon-youtube
		.navbar__login.visible__xs.visible__sm.text--center
			span.text__sm Входит в группу компаний
				img(src="images/logo-mini.png", alt="Company ltd.")
		.page-footer__bottom
			.cell.cell__sm-6.pull-right.cell__xs-12.text--center.text__sm--right
				p.text__sm.text--default Разработка: &nbsp;
					a(href="#") ТринетДевелопмент
			.cell.cell__sm-6.cell__xs-12.text--center.text__sm--left
				p.text__sm.text--default © 2016 ГЕРОФАРМ-Био
