header.page-header
    .container
        .navbar
            .navbar__left
                .page-header__logo.hidden__sm.hidden__xs
                    a(href="/")
                        img(src="images/logo.png", alt="Company ltd.")
            .navbar__right
                .navbar__login.text--center.text__md--right
                    span.text__sm Входит в &nbsp;
                        a(href="#") ГК Герофарм
                        img(src="images/logo-mini.png", alt="Company ltd.")
                ul.list--inline.navbar__social.pull-right.hidden__sm.hidden__xs
                    li.navbar__social__item: a.navbar__social__link(href="#"): i.icon-facebook
                    li.navbar__social__item: a.navbar__social__link(href="#"): i.icon-vkontakte
                    li.navbar__social__item: a.navbar__social__link(href="#"): i.icon-youtube
                .visible__xlg-inline-block
                    include ../components/_navbar
            .clearfix
            .page-header__logo.visible__sm.visible__xs.text--center
                a(href="/")
                    img(src="images/logo.png", alt="Company ltd.")
            .hidden__xlg
                include ../components/_navbar