main.page-main
    section.top-head
        .banner.banner-about
            .inner
                h2= title
    section.about-txt
        .container.animated(data-animation="zoomIn", data-animation-delay="500")
            .row
                .cell.cell__lg-6.cell__xs-12
                    h3 ОАО «ГЕРОФАРМ-Био» (ранее ОАО «Национальные биотехнологии») входит в группу компаний «ГЕРОФАРМ».
                    p Это современное биофармацевтическое производство полного цикла. Гибкая технологическая платформа позволяет производить различные рекомбинантные белки и готовые лекарственные формы на их основе.
                    p Компания отдает предпочтение сложным наукоемким технологиям, требующим профессиональных знаний и компетенций. Сегодня на предприятии выпускаются стерильные лекарственные препараты: лиофилизированные формы, растворы и суспензии во флаконах, картриджах и шприц - ручках.
                .cell.cell__lg-6.cell__xs-12
                    ul.about-list
                        li: b Технические характеристики
                        li Общая площадь территории, га – 2,5
                        li Площадь производственных помещений, кв.м. – более 10 000
                        li Производственная мощность, шт/год – 25 млн флаконов, 5 млн картриджей
            p Собственная запатентованная технология производства этих препаратов является сложным многоступенчатым процессом. Все выпускаемые ОАО «ГЕРОФАРМ-Био» лекарственные средства самого высокого качества и соответствуют международным стандартам.
            p Первый и единственный в России промышленный производитель генно-инженерного инсулина человека по принципу полного цикла: от субстанции до готовой лекарственной формы;
            p Мощности завода достаточны для обеспечения 30% потребности страны в инсулине; Реализация инвестиционного проекта по строительству второй производственной площадки позволит покрыть 100% потребности РФ в инсулине и его аналогах. Новым шагом станет вывод препарата на экспорт;
            p На предприятии налажен выпуск оригинальных препаратов Кортексин®, Ретиналамин® и Пинеамин®; Производство соответствует  требованиям фармацевтической системы качества, опирающейся на стандарты GMP и ISO 9001;
            p Промышленный комплекс располагает современным высокотехнологичным оборудованием от ведущих мировых производителей: Bioengineering, GE Lifescience, Stilmas, Olsa, Groninger, Seidenader, Bausch+Ströbel, Uhlmann, Pester; Испытательная лаборатория аттестована Федеральным агентством по техническому  регулированию.
    section.about.hidden__sm.hidden__xs
        .about-item
            - for (var x = 1; x < 6; x++)
                div: a.imageLink(href="images/slider--#{x}.jpg"): img(src="images/slider--#{x}.jpg", alt="")
    section.about-story
        .container
            .text--center
                .decor-title
                    h1 История
        .inner.text--center.hidden__sm.hidden__xs
            .container
                .slider-nav
                    div.about-date 2015
                    div.about-date 2014
                    div.about-date 2013
                    div.about-date 2012
                    div.about-date 2009
                    div.about-date 2006
                    div.about-date 2003
                    div.about-date 2000
                    div.about-date 1996 – 2000
        .slider-for
            div.about-dateinfo(style="background:url('images/img-slide--1.jpg') no-repeat center center / cover;")
                h2 2015
                p Завершение работ по реконструкции производственного комплекса ОАО «ГЕРОФАРМ-Био». Проект был выполнен за короткий срок – 2 года, проектные решения и технологии полностью соответствуют международным стандартам GMP. Объем инвестиций в проект составил более 1 200 млн. рублей.
            div.about-dateinfo.lower(style="background:url('images/img-slide--2.jpg') no-repeat center center / cover;")
                h2 2014
                p ОАО «ГЕРОФАРМ-Био» - единственный завод в России, где осуществляется промышленное производство генно-инженерных инсулинов человека по принципу полного цикла – от субстанции до готовой лекарственной формы. «ГЕРОФАРМ-Био» способен покрыть 30% потребности России в инсулинах
            div.about-dateinfo(style="background:url('images/img-slide--1.jpg') no-repeat center center / cover;")
                h2 2013
                p Завершение работ по реконструкции производственного комплекса ОАО «ГЕРОФАРМ-Био». Проект был выполнен за короткий срок – 2 года, проектные решения и технологии полностью соответствуют международным стандартам GMP. Объем инвестиций в проект составил более 1 200 млн. рублей.
                blockquote
                    p Общая площадь завода
                    h2 2,5 га.
            div.about-dateinfo(style="background:url('images/img-slide--2.jpg') no-repeat center center / cover;")
                h2 2012
                p Для формирования единой концепции стратегического развития, компания «Национальные биотехнологии» входит в группу компаний «ГЕРОФАРМ» как предприятие, занимающееся разработкой и производством биотехнологических препаратов, и получает название «ГЕРОФАРМ-Био».
                    br
                    | В этом же году компания становится резидентом биофармацевтического кластера «Северный» в Подмосковье
            div.about-dateinfo(style="background:url('images/img-slide--1.jpg') no-repeat center center / cover;")
                h2 2009
                p Завершение работ по реконструкции производственного комплекса ОАО «ГЕРОФАРМ-Био». Проект был выполнен за короткий срок – 2 года, проектные решения и технологии полностью соответствуют международным стандартам GMP. Объем инвестиций в проект составил более 1 200 млн. рублей.
            div.about-dateinfo.lower(style="background:url('images/img-slide--2.jpg') no-repeat center center / cover;")
                h2 2006
                p ОАО «ГЕРОФАРМ-Био» - единственный завод в России, где осуществляется промышленное производство генно-инженерных инсулинов человека по принципу полного цикла – от субстанции до готовой лекарственной формы. «ГЕРОФАРМ-Био» способен покрыть 30% потребности России в инсулинах
            div.about-dateinfo(style="background:url('images/img-slide--1.jpg') no-repeat center center / cover;")
                h2 2003
                p Завершение работ по реконструкции производственного комплекса ОАО «ГЕРОФАРМ-Био». Проект был выполнен за короткий срок – 2 года, проектные решения и технологии полностью соответствуют международным стандартам GMP. Объем инвестиций в проект составил более 1 200 млн. рублей.
            div.about-dateinfo(style="background:url('images/img-slide--2.jpg') no-repeat center center / cover;")
                h2 2000
                p Для формирования единой концепции стратегического развития, компания «Национальные биотехнологии» входит в группу компаний «ГЕРОФАРМ» как предприятие, занимающееся разработкой и производством биотехнологических препаратов, и получает название «ГЕРОФАРМ-Био».
                    br
                    | В этом же году компания становится резидентом биофармацевтического кластера «Северный» в Подмосковье
            div.about-dateinfo(style="background-color: #0d7fc2;")
                h2 1996 – 2000
                p Для формирования единой концепции стратегического развития, компания «Национальные биотехнологии» входит в группу компаний «ГЕРОФАРМ» как предприятие, занимающееся разработкой и производством биотехнологических препаратов, и получает название «ГЕРОФАРМ-Био».
                    br
                    | В этом же году компания становится резидентом биофармацевтического кластера «Северный» в Подмосковье
    section.about-award
        .container.animated(data-animation="zoomIn", data-animation-delay="500")
            .text--center
                .decor-title
                    h1 Награды
            .about-award__item
                .about-award__ico
                    img(src="images/ico-about--1.png", alt="")
                .about-award__desc
                    p.text--uppercase.text--primary: b Май 2016
                    p В Серпуховском районе Московской области прошел День предпринимателя, в рамках которого завод «ГЕРОФАРМ-Био» был отмечен почетным дипломом «За достижение высоких результатов в производственной деятельности, большой вклад за улучшение лекарственного обеспечения населения Московской области».
            .about-award__item
                .about-award__ico
                    img(src="images/ico-about--1.png", alt="")
                .about-award__desc
                    p.text--uppercase.text--primary: b Апрель 2015
                    p «ГЕРОФАРМ-Био» получил благодарственную грамоту  Губернатора Московской области за многолетний добросовестный труд. Высокий профессионализм, большой вклад в развитие научно-промышленного комплекса Московской области.
            .about-award__item
                .about-award__ico
                    img(src="images/ico-about--1.png", alt="")
                .about-award__desc
                    p.text--uppercase.text--primary: b Декабрь 2013
                    p «ГЕРОФАРМ-Био» был отмечен специальной премией Губернатора Московской области по поддержке социальных инициатив «Наше подмосковье» в номинации «Рабочие места для новой экономики». Всего на конкурс поступило 7066 проектов
            .about-award__item
                .about-award__ico
                    img(src="images/ico-about--1.png", alt="")
                .about-award__desc
                    p.text--uppercase.text--primary: b 2013
                    p «ГЕРОФАРМ» вошла в список номинантов «Проект года» премии «Платиновая унция» с проектом «Открытие завода «ГЕРОФАРМ-Био».  В данной номинации рассматривались проекты, реализованные в 2013 году, которые оказали позитивное влияние на развитие фармацевтического рынка.
    section.about-program
        .banner
            .inner.animated(data-animation="zoomIn", data-animation-delay="500")
                .inner__decor
                    .decor-title
                        h1 Социальная ответственность
                    p.margbot30 ОАО «ГЕРОФАРМ-Био», являясь частью группы «ГЕРОФАРМ», реализует масштабную
                        br
                        |  информационно-просветительскую деятельность, которая охватывает как врачебное, так и
                        br
                        |  пациентское сообщество, при этом уделяя внимание работе с внутренней аудиторией.
        .types
            .types__top
                .container
                    .row
                        .cell.cell__lg-6.cell__xs-12.animated(data-animation="slideInRight", data-animation-delay="300")
                            .inner
                                h2.margbot20: a(href="#")
                                    img(src="images/ico-types--7.png", alt="")
                                    | Образовательная
                                p.margbot40 В «ГЕРОФАРМ» сформирована гибкая технологическая платформа, которая позволяет выпускать препараты по принципу полного цикла: стабильно, в требуемых объемах и с гарантированно высоким качеством.
                                a.btn.btn__sm.btn--transparent(href="#") Подробнее
                        .cell.cell__lg-6.cell__xs-12.animated(data-animation="slideInLeft", data-animation-delay="500")
                            .inner
                                h2.margbot20: a(href="#")
                                    img(src="images/ico-types--8.png", alt="")
                                    | Работа с врачебным сообществом
                                p.margbot40 Создание современной фармацевтической инфраструктуры, в том числе строительство высокотехнологичных производственных комплексов, – важнейшее направление развития «ГЕРОФАРМ».
                                a.btn.btn__sm.btn--transparent(href="#") Подробнее