main.page-main
    section.top-head
        .banner.banner-career
            .inner
                h2= title
    section.career
        .container
            .animated(data-animation="zoomIn", data-animation-delay="500")
                p Люди – самый ценный ресурс «ГЕРОФАРМ - Био». Мы уверены, что успех компании зависит именно от того, насколько сотрудник талантлив, целеустремлен, инициативен и нацелен на результат. Мы стремимся к тому, чтобы в нашей компании работали компетентные высококлассные специалисты. Мы – команда единомышленников, и, благодаря опыту, знаниям и качественной работе каждого отдельного специалиста, ОАО «ГЕРОФАРМ-Био» является одной из самых современных и прогрессивных компаний в сфере производства лекарственных средств.
    section.career-types
        .types__top
            .container
                .row
                    .cell.cell__lg-6.cell__xs-12.animated(data-animation="slideInRight", data-animation-delay="300")
                        .inner
                            h2.margbot20: a(href="#")
                                img(src="images/ico-types--4.png", alt="")
                                | Студентам
                            p Мы уверены, успех присущ тем, кто смело мечтает, не боится трудностей и работы. Поэтому с энтузиазмом воспринимаем смелые и неожиданные идеи. А кому как не молодым специалистам открывать новые горизонты и вершить будущее фармацевтики.  Новое поколение – новые открытия и новые победы!
                            p: b Старт карьеры для молодых специалистов
                            ul.list--bullet
                                li Сотрудничаем с ведущими профильными ВУЗами
                                li Организовываем и проводим экскурсии по производству
                                li Принимаем студентов ВУЗов на производственную практику
                                li Поддерживаем начинания молодых специалистов, их проекты и разработки
                                li Поддерживаем социальные инициативы
                    .cell.cell__lg-6.cell__xs-12.animated.cell-light(data-animation="slideInLeft", data-animation-delay="500")
                        .inner
                            h2.margbot20: a(href="#")
                                img(src="images/ico-types--5.png", alt="")
                                span Карьера для высококвалифици - рованных сотрудников
                            ul.list--bullet
                                li.margbot30 У каждого специалиста есть возможность стать руководителем, попробовать себя в реализации инновационных проектов – главное желание и стремление, готовность постоянно развиваться и расти вместе  с компанией
                                li Сплоченный коллектив профессионалов, доброжелательное отношение, доверительная атмосфера
                                li Участие в уникальном производстве инсулинов полного цикла
                                li Формирование и развитие команды высококлассных специалистов
                                li Возможность участвовать в научных разработках
                    .cell.cell__lg-6.cell__xs-12.pull-right.animated(data-animation="slideInLeft", data-animation-delay="700")
                        .inner
                            h2.margbot20: a(href="#")
                                img(src="images/ico-types--6.png", alt="")
                                | Кандидатам
                            p В нашей компании действует гибкая политика при отборе и обучении кандидатов – это, в свою очередь, позволяет рассматривать опытных профессионалов и молодых специалистов. Самое главное – желание у кандидата развиваться в области фармацевтики и идти вперед.
                            ul.list--bullet
                                li Привлекаем ответственных, инициативных специалистов
                                li Привлекаем молодой персонал, который может и хочет работать в команде на общий результат
                            ul.list--inline.margtop30
                                li: a.btn.btn__sm.btn--transparent(href="#") Вакансии
                                li: a.btn.btn__sm.btn--transparent(href="#") Резюме
    section.career-part
        .container
            .animated(data-animation="zoomIn", data-animation-delay="500")
                .decor-title
                    h1 История успеха
                p Для нас важна индивидуальность человека. «Разные люди – одна команда» - один из основных принципов кадровой политики компании. Знакомясь с кандидатом, мы, в первую очередь, обращаем внимание на то, какими ценностями и принципами руководствуется человек при принятии решений, как он взаимодействует с окружающими, насколько готов разделить ценности нашей компании.
            .row.margtop50.margbot50
                .cell.cell__lg-4.cell__xs-12
                    .career-part__item
                        .career-part__img
                            img.hidden__md(src="images/img-career--2.jpg", alt="")
                            img.visible__md(src="images/img-career--1-lap.jpg", alt="")
                        .career-part__title
                            h3 Сальников Сергей
                            p Начальник отделения биосинтеза
                            .career-part__desc
                                h5 Цех производства субстанции, Отделение очистки
                                p Совершенно случайно, 2,5 года назад я оказался на «ГЕРОФАРМ-Био». Окончив университет, пошел в армию, а по возвращению, мой знакомый, который на тот момент здесь работал,  предложил мне попробовать себя в этой сфере. Устроился технологом в отделение очистки на участок получения первичного инсулина.
                                p Я горжусь тем, чем занимаюсь и безмерно счастлив работать в такой команде! В команде, в которой  каждый болеет за свое дело всей душой и  ежедневно вносит вклад в развитие отечественной фармацевтической индустрии.
                .cell.cell__lg-4.cell__xs-12
                    .career-part__item
                        .career-part__img
                            img.hidden__md(src="images/img-career--3.jpg", alt="")
                            img.visible__md(src="images/img-career--2-lap.jpg", alt="")
                        .career-part__title
                            h3 Артем Аксенов
                            p Ведущий технолог
                            .career-part__desc
                                h5 Цех производства субстанции, Отделение очистки
                                p Совершенно случайно, 2,5 года назад я оказался на «ГЕРОФАРМ-Био». Окончив университет, пошел в армию, а по возвращению, мой знакомый, который на тот момент здесь работал,  предложил мне попробовать себя в этой сфере. Устроился технологом в отделение очистки на участок получения первичного инсулина.
                                p Я горжусь тем, чем занимаюсь и безмерно счастлив работать в такой команде! В команде, в которой  каждый болеет за свое дело всей душой и  ежедневно вносит вклад в развитие отечественной фармацевтической индустрии.
                .cell.cell__lg-4.cell__xs-12
                    .career-part__item
                        .career-part__img
                            img.hidden__md(src="images/img-career--4.jpg", alt="")
                            img.visible__md(src="images/img-career--3-lap.jpg", alt="")
                        .career-part__title
                            h3 Козляков Сергей
                            p Ведущий технолог ОБ
                            .career-part__desc
                                h5 Цех производства субстанции, Отделение очистки
                                p Совершенно случайно, 2,5 года назад я оказался на «ГЕРОФАРМ-Био». Окончив университет, пошел в армию, а по возвращению, мой знакомый, который на тот момент здесь работал,  предложил мне попробовать себя в этой сфере. Устроился технологом в отделение очистки на участок получения первичного инсулина.
                                p Я горжусь тем, чем занимаюсь и безмерно счастлив работать в такой команде! В команде, в которой  каждый болеет за свое дело всей душой и  ежедневно вносит вклад в развитие отечественной фармацевтической индустрии.
    section.career-slider.hidden__xs.hidden__sm
        .container
            .single-item-banner
                div.animated(data-animation="zoomIn", data-animation-delay="500")
                    .cell__lg-9.center-block
                        h1.margbot50 Корпоративная жизнь
                        ul.list--bullet.margbot30
                            li  Мотивационная программа «Твоя идея работает» - сотрудники предлагают и реализовывают свои идеи
                            li Мотивационная программа «Мы говорим «Спасибо!» - лучшие сотрудники   квартала поощряются руководством
                            li Корпоративный портал и телевидение
                            li Совместные праздники, тимбилдинги
                            li Спортивные мероприятия
                        a.btn.btn__sm.btn--transparent(href="#") Перейти в Галерею
                - for (var x = 1; x < 3; x++)
                    div
                        .cell__lg-9.center-block
                            h1.margbot50 Корпоративная жизнь
                            ul.list--bullet.margbot30
                                li  Мотивационная программа «Твоя идея работает» - сотрудники предлагают и реализовывают свои идеи
                                li Мотивационная программа «Мы говорим «Спасибо!» - лучшие сотрудники   квартала поощряются руководством
                                li Корпоративный портал и телевидение
                                li Совместные праздники, тимбилдинги
                                li Спортивные мероприятия
                            a.btn.btn__sm.btn--transparent(href="#") Перейти в Галерею
    section.career-mail
        .container.animated(data-animation="zoomIn", data-animation-delay="500")
            p.margbot30 Если вы хотите присоединиться к команде ОАО «ГЕРОФАРМ-Био», но в настоящее время не нашли подходящего предложения
                br
                | отправьте свое резюме на эл. почту:
            a.btn.btn__sm.btn--default(href="mailto:borisova.v@geropharm-bio.com")
                img(src="images/ico-career--1.png", alt="")
                |  borisova.v@geropharm-bio.com
            p.margtop30.text--primary: b Мы свяжемся с вами, как только интересующая вас вакансия появится