main.page-main
    section.top-head
        .banner.banner-contacts
            .inner
                h2= title
    section.contacts
        .container
            .tabs.accordion
                ul.tabs__caption.hidden__sm.hidden__xs
                    li.active: a(href="#")
                        p: b.text--uppercase  ОАО «ГЕРОФАРМ-Био»
                    li: a(href="#")
                        p
                            b.text--uppercase  Центральный офис
                            span  г. Санкт-Петербург
                    li: a(href="#")
                        p
                            b.text--uppercase  Офис ООО «ГЕРОФАРМ»
                            span  г. Москва
                    li: a(href="#")
                        p
                            b.text--uppercase  ЗАО «Фарм-Холдинг»
                            span  R&D центр
                .accordion__item.active
                    p: b.text--uppercase  ОАО «ГЕРОФАРМ-Био»
                .tabs__content.active
                    .row
                        .cell.cell__lg-3.cell__xs-12
                            p
                                b Адрес компании:
                                br
                                | 142279, Московская область,
                                | Серпуховский район, р.п.Оболенск.
                            p
                                b Телефон/Факс:
                                br
                                a(href="tel:+74957974043"): b +7 (495) 797-4043
                                br
                                a(href="tel:+74967360026"): b +7 (4967) 36-0026
                                br
                                a(href="tel:+74967312080"): b +7 (4967) 31-2080 
                            p
                                b Электронный адрес:
                                br
                                a(href="mailto:inform@geropharm-bio.ru") inform@geropharm-bio.ru 
                            b Мы в социальных сетях:
                            .share
                                ul.list--inline
                                    li.fa: a(href="#"): i.icon-facebook
                                    li.odn: a(href="#"): i.icon-odnoklassniki
                                    li.vk: a(href="#"): i.icon-vkontakte
                        .cell.cell__lg-9.cell__xs-12
                            script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0lfBUtg9eDl4KIrJVN3xotaXRVL2_wzu&amp;width=100%&amp;height=476&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
                .accordion__item
                    p
                        b.text--uppercase  Центральный офис
                        span  г. Санкт-Петербург
                .tabs__content
                    .row
                        .cell.cell__lg-3.cell__xs-12
                            p
                                b Адрес компании:
                                br
                                | 191144, Санкт-Петербург, административно-деловой квартал "Невская Ратуша",
                                | Дегтярный переулок, 11Б, 10-й этаж
                            p
                                b Телефон/Факс:
                                br
                                a(href="tel:+74957974043"): b +7(812)703-79-75
                                br
                                a(href="tel:+74967360026"): b +7(812)703-79-76
                            p
                                b Электронный адрес:
                                br
                                a(href="mailto:inform@geropharm-bio.ru") inform@geropharm.ru
                            p
                                b Сайт
                                br
                                a(href="www.geropharm.ru ") www.geropharm.ru
                            b Мы в социальных сетях:
                            .share
                                ul.list--inline
                                    li.fa: a(href="#"): i.icon-facebook
                                    li.odn: a(href="#"): i.icon-odnoklassniki
                                    li.vk: a(href="#"): i.icon-vkontakte
                        .cell.cell__lg-9.cell__xs-12
                            script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0lfBUtg9eDl4KIrJVN3xotaXRVL2_wzu&amp;width=100%&amp;height=476&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
                .accordion__item
                    p
                        b.text--uppercase  Офис ООО «ГЕРОФАРМ»
                        span  г. Москва
                .tabs__content
                    .row
                        .cell.cell__lg-3.cell__xs-12
                            p
                                b Адрес компании:
                                br
                                | 115114, г. Москва, ул. Летниковская,
                                | дом 10, строение 4, 2-й этаж
                            p
                                b Телефон/Факс:
                                br
                                a(href="tel:+74957974043"): b +7(495)995-09-17
                            p
                                b Электронный адрес:
                                br
                                a(href="mailto:inform@geropharm-bio.ru") inform@geropharm.ru
                            p
                                b Сайт
                                br
                                a(href="www.geropharm.ru ") www.geropharm.ru
                            b Мы в социальных сетях:
                            .share
                                ul.list--inline
                                    li.fa: a(href="#"): i.icon-facebook
                                    li.odn: a(href="#"): i.icon-odnoklassniki
                                    li.vk: a(href="#"): i.icon-vkontakte
                        .cell.cell__lg-9.cell__xs-12
                            script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0lfBUtg9eDl4KIrJVN3xotaXRVL2_wzu&amp;width=100%&amp;height=476&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
                .accordion__item
                    p
                        b.text--uppercase  ЗАО «Фарм-Холдинг»
                        span  R&D центр
                .tabs__content
                    .row
                        .cell.cell__md-3.cell__xs-12
                            p
                                b Адрес компании:
                                br
                                | 198515, г. Санкт-Петербург, Стрельна, ул. Связи, д.34-A
                            p
                                b Телефон/Факс:
                                br
                                a(href="tel:+74957974043"): b +7 (812) 493-55-01
                                br
                                a(href="tel:+74967360026"): b +7 (812) 493-55-69
                            p
                                b Электронный адрес:
                                br
                                a(href="mailto:inform@pharmholding.com") inform@pharmholding.com
                            p
                                b Сайт
                                br
                                a(href="www.pharmholding.com") www.pharmholding.com
                            b Мы в социальных сетях:
                            .share
                                ul.list--inline
                                    li.fa: a(href="#"): i.icon-facebook
                                    li.odn: a(href="#"): i.icon-odnoklassniki
                                    li.vk: a(href="#"): i.icon-vkontakte
                        .cell.cell__lg-9.cell__xs-12
                            script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0lfBUtg9eDl4KIrJVN3xotaXRVL2_wzu&amp;width=100%&amp;height=476&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
                                p
    section.contacts-person
        .container
            .decor-title
                h1 Пресс-служба ГК «ГЕРОФАРМ»
            .row.carousel-item1
                .contacts-person__item.animated(data-animation="slideInUp", data-animation-delay="300")
                    .contacts-person__img
                        img(src="images/img-person--1.jpg", al="")
                    .contacts-person__name
                        h3 Екатерина Артемьева
                        p.margbot30 Директор по связям с общественностью
                        a.btn.btn__sm.btn--default.btn--full(href="mailto:Ekaterina.Artemyeva@geropharm.com ") Ekaterina.Artemyeva
                            br
                            | @geropharm.com 
                .contacts-person__item.animated(data-animation="slideInUp", data-animation-delay="500")
                    .contacts-person__img
                        img(src="images/img-person--2.jpg", al="")
                    .contacts-person__name
                        h3 Марина Лавровская
                        p.margbot30 Директор по связям с общественностью
                        a.btn.btn__sm.btn--default.btn--full(href="mailto:Marina.Lavrovskaya@geropharm.com ") Marina.Lavrovskaya
                            br
                            | @geropharm.com 
                .contacts-person__item.animated(data-animation="slideInUp", data-animation-delay="700")
                    .contacts-person__img
                        img(src="images/img-person--3.jpg", al="")
                    .contacts-person__name
                        h3 София Забуслаева
                        p.margbot30 Директор по связям с общественностью
                        a.btn.btn__sm.btn--default.btn--full(href="mailto:Sofia.Zabuslaeva@geropharm.com ") Sofia.Zabuslaeva
                            br
                            | @geropharm.com 
                .contacts-person__item.animated(data-animation="slideInUp", data-animation-delay="900")
                    .contacts-person__img
                        img(src="images/img-person--4.jpg", al="")
                    .contacts-person__name
                        h3 Антонина Гришина
                        p.margbot30 Младший менеджер по связям с общественностью
                        a.btn.btn__sm.btn--default.btn--full(href="mailto:Antonina.Grishina@geropharm.com ") Antonina.Grishina
                            br
                            | @geropharm.com 
    section.contacts-phone
        h3 Тел./факс: +7 (812) 703-79-75