main.page-main
    section.top-head
        .banner.banner-gallery
            .inner
                h2= title
    section.gallery
        .container
            .gallery__inner.animated(data-animation="zoomIn", data-animation-delay="500")
                p ОАО «ГЕРОФАРМ-Био» (ранее ОАО «Национальные биотехнологии») входит в группу компаний «ГЕРОФАРМ».
                    br
                    | Это современное биофармацевтическое производство полного цикла. Гибкая технологическая платформа позволяет производить различные рекомбинантные белки и готовые лекарственные формы на их основе.
                p Компания отдает предпочтение сложным наукоемким технологиям, требующим профессиональных знаний и компетенций. Сегодня на предприятии выпускаются стерильные лекарственные препараты: лиофилизированные формы, растворы и суспензии во флаконах, картриджах и шприц-ручках. Собственная запатентованная технология производства этих препаратов является сложным многоступенчатым процессом. Все выпускаемые ОАО «ГЕРОФАРМ-Био» лекарственные средства самого высокого качества и соответствуют международным стандартам.
        .gallery-item
            - for (var x = 1; x < 6; x++)
                div: a.imageLink(href="images/slider.jpg"): img(src="images/slider.jpg", alt="")