main.page-main
    section
        .single-item
            div(style="background: url('images/img-slider--1.jpg') no-repeat center center / cover")
                .inner.animated(data-animation="zoomIn", data-animation-delay="500")
                    h2.margbot40 «ГЕРОФАРМ-Био» – современное биотехнологическое
                        br
                        | производство полного цикла
                    a.btn.btn--transparent(href="#") Подробнее
                //img(src="images/img-slider--1.jpg" alt="")
            - for (var x = 1; x < 3; x++)
                div(style="background: url('images/img-slider--1.jpg') no-repeat center center / cover")
                    .inner
                        h2.margbot40 «ГЕРОФАРМ-Био» – современное биотехнологическое
                            br
                            | производство полного цикла
                        a.btn.btn--transparent(href="#") Подробнее
                    //img(src="images/img-slider--1.jpg" alt="")
    section.reasons-block
        .container
            .reasons
                .row
                    each item in reasons
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            .reasons__item.animated(data-animation="slideInUp", data-animation-delay="#{item.duration}")
                                .reasons__img
                                    img(src="#{item.img}", alt="#{item.title}")
                                .reasons__body
                                    h5= item.title
                                    p= item.desc
    section.types-block
        .types
            .types__top
                .container
                    .row
                        .cell.cell__md-6.pull-right.animated(data-animation="slideInLeft", data-animation-delay="500")
                            .visible__sm.visible__xs.text--center
                                img.fullwi(src="images/img-types--1mini.jpg", alt="")
                            .inner
                                h2.margbot20: a(href="#")
                                    img(src="images/ico-types--1.png", alt="")
                                    | Производство
                                p.margbot40 Создание современной фармацевтической инфраструктуры, в том числе строительство высокотехнологичных производственных комплексов, – важнейшее направление развития «ГЕРОФАРМ».
                                a.btn.btn__sm.btn--transparent(href="#") Подробнее
            .types__bottom
                .container
                    .row
                        .cell.cell__md-6.animated(data-animation="slideInRight", data-animation-delay="700")
                            .visible__sm.visible__xs.text--center
                                img.fullwi(src="images/img-types--2mini.jpg", alt="")
                            .inner
                                h2.margbot20: a(href="#")
                                    img(src="images/ico-types--2.png", alt="")
                                    | Препараты
                                p.margbot40 В «ГЕРОФАРМ» сформирована гибкая технологическая платформа, которая позволяет выпускать препараты по принципу полного цикла: стабильно, в требуемых объемах и с гарантированно высоким качеством.
                                a.btn.btn__sm.btn--transparent(href="#") Подробнее
    section.news-block
        .news
            .container.text--center
                .decor-title
                    h1 Новости компании
                .carousel-item.margbot50
                    each item in news
                        div
                            .news__item
                                .news__img
                                    a(href="#"): img(src="#{item.img}", alt="#{item.title}")
                                .news__body
                                    h5: a(href="#")= item.title
                                    p= item.date
                a.btn.btn__sm.btn--default(href="#") Все новости
    section.virtu-block
        .virtu
            .container
                .animated(data-animation="zoomIn", data-animation-delay="500")
                    h1 Виртуальный тур по заводу
                    img(src="images/ico-virtu.png", alt="")
                    p.margbot40.margtop40 Совершить экскурсию по производственному комплексу «ГЕРОФАРМ-Био» Вы можете, посмотрев виртуальный тур
                    img(src="images/virtu.jpg", alt="")