main.page-main
    section.top-head
        .banner.banner-news
            .inner
                h2= title
    section.news-list
        .container
            .text--center
                ul.list--inline.news-list__archive
                    li.active: a(href="#") 2015
                    li: a(href="#") 2014
                    li: a(href="#") 2013
                    li: a(href="#") 2012
                    li: a(href="#") 2011
                    li: a(href="#") 2010
                    li: a(href="#") 2009
            .text--center
                .btn__group.margtop20.margbot50
                    a.btn.btn--primary.btn__sm(href="#") Новости компаний
                    a.btn.btn--success.btn__sm(href="#") Пресса о нас
            .news-list__inner
                each item in news
                    .news__item
                        .news__img
                            a(href="#"): img(src="#{item.img}", alt="#{item.title}")
                        .news__body
                            h5: a(href="#")= item.title
                            p= item.date
                include ../components/_paginator