main.page-main
    section.top-head
        .banner.banner-news
            .inner
                h2= title
    section.one-news
        .container
            .row
                .cell.cell__lg-2.hidden__xs.hidden__sm
                .cell.cell__lg-10.cell__xs-12
                    .pull__md-left.margtop20.margbot20.text--center.text__md--left
                        a.btn.btn__sm.btn--default(href="#") Вернутся к списку новостей
                    include ../components/_pager-prv
                    .clearfix
            .row
                .cell.cell__lg-2.visible__lg.visible__xlg
                    .one-news__date
                        .date 14
                        .month Апреля
                .cell.cell__lg-10.cell__xs-12.animated(data-animation="zoomIn", data-animation-delay="500")
                    .pull-left.visible__md
                        .one-news__date.margright20
                            .date 14
                            .month Апреля
                    h3 Визитная карточка: "Фарм-Холдинг" - научно-исследовательский центр мирового уровня по разработке лекарственных средств
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                    .carousel-item.margtop30
                        div.img-zoom: img(src="images/img-one--1.jpg", alt="")
                        div.img-zoom: img(src="images/img-one--2.jpg", alt="")
                        div.img-zoom: img(src="images/img-one--3.jpg", alt="")
                        div.img-zoom: img(src="images/img-one--1.jpg", alt="")
                        div.img-zoom: img(src="images/img-one--2.jpg", alt="")
                    .share.text--right
                        ul.list--inline
                            li: b Поделиться:
                            li.fa: a(href="#"): i.icon-facebook
                            li.odn: a(href="#"): i.icon-odnoklassniki
                            li.vk: a(href="#"): i.icon-vkontakte