main.page-main
    section.top-head
        .banner.banner-products
            .inner
                h2= title
            .banner-slider
                .single-item-banner
                    div.animated(data-animation="fadeInUp", data-animation-delay="500")
                        h3 Наша главная цель
                        p.margbot50 Быть надежным производителем качественных, эффективных и безопасных лекарственных
                            br
                            |  препаратов, которые помогают людям сохранить здоровье и высокое качество жизни.
                        img(src="images/decor-line.jpg", alt="")
                    - for (var x = 1; x < 4; x++)
                        div
                            h3 Наша главная цель
                            p.margbot50 Быть надежным производителем качественных, эффективных и безопасных лекарственных
                                br
                                |  препаратов, которые помогают людям сохранить здоровье и высокое качество жизни.
                            img(src="images/decor-line.jpg", alt="")
    section.products
        .container
            .hidden__lg.hidden__xlg.text--center
                img(src="images/img-types--3.jpg", alt="")
            .types
                .types__top
                    .row

                        .cell.cell__xlg-6.cell__lg-7.cell__xs-12.pull-right.animated(data-animation="slideInLeft", data-animation-delay="500")
                            .inner
                                h2.margbot20: a(href="#")
                                    img(src="images/ico-types--3.png", alt="")
                                    | Субстанции
                                p.margbot40 На сегодняшний день «ГЕРОФАРМ-Био» - единственная компания в России, где производится субстанция генно-инженерного инсулина полного цикла. Такой цикл включает работу с музейной культурой штамма-продуцента, биосинтез в промышленных ферментерах, выделение и очистку рекомбинантного белка от примесей и получение фармакопейного инсулина в кристаллической форме.
                                p Субстанция инсулина, производимая в «ГЕРОФАРМ-Био», удовлетворяет самым строгим российским и международным стандартам качества и имеет полную биологическую активность.
            .cell__lg-7.center-block.text--center.animated(data-animation="zoomIn", data-animation-delay="500")
                h1 Текущие разработки
                p Кроме того, в компании разрабатываются и внедряются технологии получения субстанций ряда аналогов инсулина. Среди таких аналогов:
                h3 Аналоги
                .row.products__analogs
                    .cell.cell__md-6.cell__xs-12.margbot20
                        img(src="images/img-products--2.jpg", alt="")
                        p.text--default.margbot40.margtop20 инсулин-гларгин, биодженерик пролонгированного действия
                        a.btn__sm.btn.btn--default(href="#") Формула
                    .cell.cell__md-6.cell__xs-12.margbot20
                        img(src="images/img-products--3.jpg", alt="")
                        p.text--default.margbot40.margtop20 инсулин-лизпро, биодженерик сверхкороткого действия
                        a.btn__sm.btn.btn--default(href="#") Формула
                p.text--default Помимо биоаналогов и дженериковых препаратов, «ГЕРОФАРМ-Био» ведет разработки оригинальных лекарственных средств как в диабетическом секторе, так и в других секторах фармацевтики.
    section.products-catalog
        .container
            .text--center
                .decor-title
                    h1 Готовые лекарственные формы
            .tabs
                ul.tabs__caption.hidden__sm.hidden__xs
                    li.active: a(href="#"): b Все
                    li: a(href="#"): b Психоневрология
                    li: a(href="#"): b Офтальмология
                    li: a(href="#"): b Эндокринология
                    li: a(href="#"): b Женское здоровье
                .accordion__item.active: b Все
                .tabs__content.active
                    .row
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--4.jpg", alt="")
                                .products-catalog__title Кортексин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--5.jpg", alt="")
                                .products-catalog__title Мемантинол®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--6.jpg", alt="")
                                .products-catalog__title Прегабалин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--7.jpg", alt="")
                                .products-catalog__title Прегабалин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--8.jpg", alt="")
                                .products-catalog__title Ринсулин ® НПХ
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--9.jpg", alt="")
                                .products-catalog__title Рекогнан®
                .accordion__item: b Психоневрология
                .tabs__content
                    .row
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--4.jpg", alt="")
                                .products-catalog__title Кортексин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--5.jpg", alt="")
                                .products-catalog__title Мемантинол®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--7.jpg", alt="")
                                .products-catalog__title Прегабалин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--8.jpg", alt="")
                                .products-catalog__title Ринсулин ® НПХ
                .accordion__item: b Офтальмология
                .tabs__content
                    .row
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--4.jpg", alt="")
                                .products-catalog__title Кортексин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--5.jpg", alt="")
                                .products-catalog__title Мемантинол®
                .accordion__item: b Эндокринология
                .tabs__content
                    .row
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--4.jpg", alt="")
                                .products-catalog__title Кортексин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--5.jpg", alt="")
                                .products-catalog__title Мемантинол®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--6.jpg", alt="")
                                .products-catalog__title Прегабалин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--7.jpg", alt="")
                                .products-catalog__title Прегабалин®
                .accordion__item: b Женское здоровье
                .tabs__content
                    .row
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--7.jpg", alt="")
                                .products-catalog__title Прегабалин®
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--8.jpg", alt="")
                                .products-catalog__title Ринсулин ® НПХ
                        .cell.cell__lg-4.cell__md-6.cel__xs-12
                            a.products-catalog__item(href="#")
                                .products-catalog__cat Психоневрология
                                .products-catalog__img
                                    img(src="images/img-products--9.jpg", alt="")
                                .products-catalog__title Рекогнан®
    section.products-text
        .container.animated(data-animation="zoomIn", data-animation-delay="500")
            .text--center
                .decor-title
                    h1 Фармаконадзор
            p Нежелательной реакцией называется негативная с медицинской точки зрения реакция организма, связанная с применением лекарственного препарата. Информация поступает от врачей, фармацевтических работников, пациентов.
            p Осуществляется регулярный мониторинг публикаций по препаратам. Вся полученная информация по безопасности вносится в базу данных, анализируется и учитывается при разработке плана управления рисками. Осуществление деятельности по фармаконадзору происходит при взаимодействии с регуляторными органами стран, в которых зарегистрированы лекарственные препараты. Внутри компании проводится регулярное обучение сотрудников с целью повышения качества фармаконадзора.
            p Цель нашей деятельности по фармаконадзору – гарантия качества и безопасности лекарственных препаратов, предоставление полной и объективной информации о них врачам и пациентам, минимизация возможных рисков при их приеме:
            ul.list--inline.text--left.text__md--center.margtop60
                li.margbot10.margright50: a.btn.btn__sm.btn--transparent(href="#") Анкета пациента
                li.margbot10: a.btn.btn__sm.btn--transparent(href="#") Анкета врача