main.page-main
    section.top-head
        .banner.banner-production
            .inner
                h2= title
    section.production
        .container.animated(data-animation="zoomIn", data-animation-delay="500")
            p.margbot30 Промышленная площадка «ГЕРОФАРМ-Био» состоит из двух производственных цехов – цеха по производству субстанций и цеха по производству готовых лекарственных форм.
                br
                | Препараты выпускаются по собственным запатентованным технологиям, их производство является сложным многоступенчатым процессом. 
                br
                | Большую часть операций на заводе выполняют автоматизированные производственные системы, аналогов которым сегодня нет в России.
                br
                | На предприятии установлено оборудование компаний – мировых лидеров: Bioengineering, GE Lifescience, Stilmas, Olsa, Groninger, Seidenader, Bausch+Ströbel, Uhlmann, Pester. 
            a.btn.btn__sm.btn--default(href="#") Подробнее
    section.production-img.hidden__sm.hidden__xs
        .animated(data-animation="zoomIn", data-animation-delay="500")
            img(src="images/img-production--1.png", alt="")
    section.circle
        .circle-item
            - for (var x = 1; x < 17; x++)
                a.imageLink(href="images/slider.jpg"): img(src="images/slider.jpg", alt="")
    section.production-part
        .container
            .decor-title
                h1 Партнерство
            p ОАО «ГЕРОФАРМ-Био» предлагает услуги по размещению на собственной производственной площадке контрактного производства лекарственных препаратов полного цикла - от субстанции до готовой лекарственной формы.
            h3 Наши технические возможности:
            .row
                .cell.cell__lg-3.cell__md-6.cell__xs-12
                    .production-part__item.animated(data-animation="slideInUp", data-animation-delay="300")
                        .production-part__img
                            img(src="images/img-production--2.png", alt="")
                        p Производство биотехнологических субстанций;
                .cell.cell__lg-3.cell__md-6.cell__xs-12
                    .production-part__item.animated(data-animation="slideInUp", data-animation-delay="500")
                        .production-part__img
                            img(src="images/img-production--3.png", alt="")
                        p Стерильные инъекционные лекарственные средства
                .cell.cell__lg-3.cell__md-6.cell__xs-12
                    .production-part__item.animated(data-animation="slideInUp", data-animation-delay="700")
                        .production-part__img
                            img(src="images/img-production--4.png", alt="")
                        p Жидкие лекарственные формы - растворы для инъекций
                .cell.cell__lg-3.cell__md-6.cell__xs-12
                    .production-part__item.animated(data-animation="slideInUp", data-animation-delay="900")
                        .production-part__img
                            img(src="images/img-production--5.png", alt="")
                        p Лиофилизированные стерильные инъекционные ЛС
            a.btn.btn__sm.btn--default(href="#") Подробнее