main.page-main
    section.top-head
        .banner.banner-product
            .inner
                h2= title
            .banner-slider
                .single-item-banner
                    div.animated(data-animation="fadeInUp", data-animation-delay="500")
                        p.margtop30 Данный препарат является рецептурным лекарственным средством и должен приобретаться только по рецепту врача.
                            span
                            | Препарат имеет противопоказания. Пожалуйста, ознакомитесь с инструкцией по применению. Не применяйте препарат, если он не был
                            span
                            | назначен Вам Вашим лечащим врачом. При применении препарата всегда соблюдайте инструкцию по применению и рекомендации
                            span
                            | Вашего врача.
                    - for (var x = 1; x < 3; x++)
                        div
                            p.margtop30 Данный препарат является рецептурным лекарственным средством и должен приобретаться только по рецепту врача.
                                span
                                | Препарат имеет противопоказания. Пожалуйста, ознакомитесь с инструкцией по применению. Не применяйте препарат, если он не был
                                span
                                | назначен Вам Вашим лечащим врачом. При применении препарата всегда соблюдайте инструкцию по применению и рекомендации
                                span
                                | Вашего врача.
    section.product
        .container
            .row
                .cell.cell__lg-6.cell__xs-12.animated(data-animation="zoomIn", data-animation-delay="300")
                    .visible__md.visible__sm.visible__xs.margbot20
                        .pull-left
                            .btn__group.margright40.hvr-sweep-to-right
                                a.btn.btn--primary(href="#") <
                                a.btn.btn--default(href="#") Вернутся к списку
                        .share.hidden__xs.hidden__sm
                            ul.list--inline
                                li.fa: a(href="#"): i.icon-facebook
                                li.odn: a(href="#"): i.icon-odnoklassniki
                                li.vk: a(href="#"): i.icon-vkontakte
                        .clearfix
                    .product-catalog__item
                        .product-catalog__cat Психоневрология
                        .product-catalog__img.product-catalog--js
                            - for (var x = 1; x < 5; x++)
                                img(src="images/img-products--5.jpg", alt="")
                    .product-catalog--item-js.hidden__xs.hidden__sm
                        - for (var x = 1; x < 5; x++)
                            .product-catalog__item.product-catalog__item-mini
                                .product-catalog__img.product-catalog__img-mini
                                    img(src="images/img-products--mini.jpg", alt="")
                .cell.cell__lg-6.cell__xs-12.animated(data-animation="zoomIn", data-animation-delay="500")
                    .hidden__md.hidden__sm.hidden__xs
                        .pull-left
                            .btn__group.margright40.hvr-sweep-to-right
                                a.btn.btn--primary(href="#") <
                                a.btn.btn--default(href="#") Вернутся к списку
                        .share
                            ul.list--inline
                                li.fa: a(href="#"): i.icon-facebook
                                li.odn: a(href="#"): i.icon-odnoklassniki
                                li.vk: a(href="#"): i.icon-vkontakte
                    h3 Описание
                    p На протяжении последнего десятилетия неврологи и врачи других специальностей стали свидетелями все более активного использования Кортексина — нового пептидного препарата отечественного производства. Его появление стало возможным после открытия низкомолекулярных пептидов, осуществляющих передачу информации, необходимой для нормального функционирования, взаимодействия и развития клеток. Само открытие таких пептидов легло в основу поиска и создания новых фармакологических средств. Применение Кортексина основано на способности препарата оказывать нормализирующее воздействие на многие функции головного мозга. 
                    p Герофарм" является единственным производителем оригинального препарата Кортексин.
                    .margtop60
                        p.margbot20 Ссылка на сайт Федеральной службы по надзору в сфере здравоохранения  и социального развития -
                        a.btn.btn--default.btn--full(href="#")
                            img(src="images/ico-products--1.png", alt="")
                            |  http://www.roszdravnadzor.ru/registration/ls/spis
                        p.margtop20 Препарат производится по собственной запатентованной технологии компании.
    section.product-catalog
            .tabs
                .container.hidden__sm.hidden__xs
                    ul.tabs__caption
                        li.active: a(href="#"): b Механизм действия
                        li: a(href="#"): b Краткая инструкция
                        li: a(href="#"): b Особенности лекарственной формы
                .tabs__inner
                    .container
                        .accordion__item.active
                            b Механизм действия
                        .tabs__content.active
                            h3 Нейропротекция:
                            p Этот термин часто встречается в медицинских публикациях, СМИ, в рекламе лекарственных препаратов. Возможности нейропротекции заложены в самой природе мозга, в генах, на уровне регуляторных нейропептидов. Суть нейропротекции состоит в том, что лечебный процесс способствует не только защите пострадавшей группы нейронов, но и обеспечивает ее дальнейшее функционирование. Для медицины важен вопрос — существуют ли адекватное фармакологическоое воздействие, способное запускать эти природные механизмы и поддерживать их на необходимом уровне? В этой связи, поиск, создание и апробация новых фармацевтических средств являются и будут являтся одним из наиболее важных направлений современной фармакологии.
                            p Очевидно, что поиск новых нейропротекторов представляет собой сложный процесс, требующий объединенных усилий врачей, биологов, фармакологов на всех этапах. В этом отношении особого внимания заслуживают препараты пептидной природы. Несмотря на их разнообразие, их объединяет ряд общих характеристик: низкая дозировка, отсутствие выраженных токсических эффектов, мягкость и длительность воздействия. В целом, можно утверждать, что система пептидов организма (Королева С. В., Ашмарин И. П., 2006), сформированная миллионами лет эволюции, обеспечивает многоуровневую регуляцию всех функций, в том числе и процессов, приводящих в конечном итоге к нейропротекторному эффекту. В информационном плане именно пептиды являются универсальным языком, понятным и естественным для живых организмов как на системном уровне, так и на клеточном уровне.
                        .accordion__item
                            b Краткая инструкция
                        .tabs__content
                            h3 Краткая инструкция
                            p Этот термин часто встречается в медицинских публикациях, СМИ, в рекламе лекарственных препаратов. Возможности нейропротекции заложены в самой природе мозга, в генах, на уровне регуляторных нейропептидов. Суть нейропротекции состоит в том, что лечебный процесс способствует не только защите пострадавшей группы нейронов, но и обеспечивает ее дальнейшее функционирование. Для медицины важен вопрос — существуют ли адекватное фармакологическоое воздействие, способное запускать эти природные механизмы и поддерживать их на необходимом уровне? В этой связи, поиск, создание и апробация новых фармацевтических средств являются и будут являтся одним из наиболее важных направлений современной фармакологии.
                            p Очевидно, что поиск новых нейропротекторов представляет собой сложный процесс, требующий объединенных усилий врачей, биологов, фармакологов на всех этапах. В этом отношении особого внимания заслуживают препараты пептидной природы. Несмотря на их разнообразие, их объединяет ряд общих характеристик: низкая дозировка, отсутствие выраженных токсических эффектов, мягкость и длительность воздействия. В целом, можно утверждать, что система пептидов организма (Королева С. В., Ашмарин И. П., 2006), сформированная миллионами лет эволюции, обеспечивает многоуровневую регуляцию всех функций, в том числе и процессов, приводящих в конечном итоге к нейропротекторному эффекту. В информационном плане именно пептиды являются универсальным языком, понятным и естественным для живых организмов как на системном уровне, так и на клеточном уровне.
                        .accordion__item
                            b Особенности лекарственной формы
                        .tabs__content
                            h3 Особенности лекарственной формы
                            p Этот термин часто встречается в медицинских публикациях, СМИ, в рекламе лекарственных препаратов. Возможности нейропротекции заложены в самой природе мозга, в генах, на уровне регуляторных нейропептидов. Суть нейропротекции состоит в том, что лечебный процесс способствует не только защите пострадавшей группы нейронов, но и обеспечивает ее дальнейшее функционирование. Для медицины важен вопрос — существуют ли адекватное фармакологическоое воздействие, способное запускать эти природные механизмы и поддерживать их на необходимом уровне? В этой связи, поиск, создание и апробация новых фармацевтических средств являются и будут являтся одним из наиболее важных направлений современной фармакологии.
                            p Очевидно, что поиск новых нейропротекторов представляет собой сложный процесс, требующий объединенных усилий врачей, биологов, фармакологов на всех этапах. В этом отношении особого внимания заслуживают препараты пептидной природы. Несмотря на их разнообразие, их объединяет ряд общих характеристик: низкая дозировка, отсутствие выраженных токсических эффектов, мягкость и длительность воздействия. В целом, можно утверждать, что система пептидов организма (Королева С. В., Ашмарин И. П., 2006), сформированная миллионами лет эволюции, обеспечивает многоуровневую регуляцию всех функций, в том числе и процессов, приводящих в конечном итоге к нейропротекторному эффекту. В информационном плане именно пептиды являются универсальным языком, понятным и естественным для живых организмов как на системном уровне, так и на клеточном уровне.