main.page-main
    section.top-head
        .banner.banner-search
    section.search
        .container
            .cell__lg-8
                h2 Результаты поиска по запросу «препарат»
                p
                    b.text--primary Найдено:
                    span.text--default   1 результата
                .input__group
                    input.form-control(type="text")
                    .input__group--btn
                        button.btn.btn--primary(type="submit") Найти
                .search__body
                    - for (var x = 1; x < 4; x++)
                        .search__item
                            h3: a(href="#")  «ГЕРОФАРМ» заключил лицензионное соглашение с корейской компанией Dong-A ST
                            p Группа «ГЕРОФАРМ» заключила с корейской компанией Dong-A ST лицензионное соглашение на эксклюзивную разработку и продвижение нового препарата для лечения сахарного диабета II типа. Согласно подписанному соглашению «ГЕРОФАРМ» получает права на реализацию препарата DA-1229,...
                            p Раздел: &nbsp;
                                a(href="#"): b Новости