main.page-main
    section.top-head
        .banner.banner-sitemap
    section.sitemap
        .container
            h2= title
            ul.sitemap-links
                li
                    a(href="#") О компании
                    ul
                        li
                            a(href="#") Информация о компании
                        li
                            a(href="#") История и награды
                        li
                            a(href="#") Социальная ответственность
                li
                    a(href="#") Производство
                    ul
                        li
                            a(href="#") Технологии и оборудование
                        li
                            a(href="#") Партнерство
                li
                    a(href="#") Система менеджмента качества
                    ul
                        li
                            a(href="#") Система обеспечения качества
                        li
                            a(href="#") Покументация по качеству
                        li
                            a(href="#") Сертификаты
                li
                    a(href="#") Препараты
                    ul
                        li
                            a(href="#") Список препаратов
                li
                    a(href="#") Новости
                li
                    a(href="#") Контакты