main.page-main
    section.top-head
        .banner.banner-system
            .inner
                h2= title
            .banner-slider
                .single-item-banner
                    div.animated(data-animation="fadeInUp", data-animation-delay="500")
                        p.margbot20 Главная цель «ГЕРОФАРМ-Био» - быть надежным производителем эффективных, безопасных
                            br
                            |  и качественных лекарственных средств, которые помогают людям сохранить здоровье и
                            br
                            |  высокое качество жизни.
                        img(src="images/decor-line.jpg", alt="")
                    - for (var x = 1; x < 4; x++)
                        div
                            p.margbot20 Главная цель «ГЕРОФАРМ-Био» - быть надежным производителем эффективных, безопасных
                                br
                                |  и качественных лекарственных средств, которые помогают людям сохранить здоровье и
                                br
                                |  высокое качество жизни.
                            img(src="images/decor-line.jpg", alt="")
    section.system
        .container
            .inner.animated(data-animation="zoomIn", data-animation-delay="500")
                .text--center
                    h1 Соответствие стандартам в области качества
                p Производственная деятельность  компании разрешена на основании Лицензии на осуществление деятельности по производству лекарственных средств, выданной Министерством промышленности и торговли Российской Федерации, которая подтверждает соответствие предприятия требованиям Правил организации производства и контроля качества лекарственных средств, утвержденных приказом Минпромторга РФ от 14 июня 2013 г. № 916. Перечень работ включает  производство фармацевтических генно-инженерных субстанций и лекарственных препаратов. Соответствие «ГЕРОФАРМ-Био» требованиям GMP подтверждено по результатам проверки, осуществленной Министерством промышленности и торговли Российской Федерации с выдачей компании Заключения о соответствии.
                ul.list--bullet
                    li Создана и функционирует фармацевтическая система качества (PQS), охватывающая все аспекты GMP и ISO 9001.   Основные  положения фармацевтической системы качества и соответствие правилам GMP и ISO 9001 определены в Досье производственного участка (Site Master File – SMF), в Руководстве по качеству и Политике в области качества.
                    li Система качества ОАО «ГЕРОФАМ-Био» сертифицирована BUREAU VERITAS и прошла ресертификационный адит по ISO 9001:2008 (международного образца), ГОСТ ISO 9001-2011 c аккредитацией ГОСТ Р (Россия).
                    li Осуществляется протоколирование процедур, процессов, контролей, выполнение методик системы качества, в т. ч. процессов производства продукции, и ее упаковки (составление досье на каждую серию продукции). Функционирует процедура оценки протоколов производства и протоколов упаковки серий готовой продукции, оценки результатов контроля качества во всех критических точках производства лекарственных средств. Организационные мероприятия и система внутрипроизводственного контроля позволяют исключить риск перекрестной контаминации. Готовая продукция реализуется только при наличии Разрешения на реализацию лекарственного средства, выданного Уполномоченным лицом.
            .inner-cat
                .inner-cat__item
                    .inner-cat__img
                        img(src="images/img-system--1.png", alt="")
                    p GMP 025/2014/SAUMP/GMP
                        br
                        | от 07.04.2014 г.
                .inner-cat__item
                    .inner-cat__img
                        img(src="images/img-system--1.png", alt="")
                    p GMP 025/2014/SAUMP/GMP
                        br
                        | от 07.04.2014 г.
                .inner-cat__item
                    .inner-cat__img
                        img(src="images/img-system--1.png", alt="")
                    p GMP 025/2014/SAUMP/GMP
                        br
                        | от 07.04.2014 г.
                .inner-cat__item
                    .inner-cat__img
                        img(src="images/img-system--1.png", alt="")
                    p GMP 025/2014/SAUMP/GMP
                        br
                        | от 07.04.2014 г.
            .inner.animated(data-animation="zoomIn", data-animation-delay="500")
                .text--center
                    h1 Политика в области качества
                p Обеспечение соответствия препаратов требованиям и ожиданиям потребителя, показаниям к назначению, государственным и международным стандартам качества. Достижение качества через исполнение правил Систем, включающих Надлежащую лабораторную практику GLP, Надлежащую клиническую практику GCP, Надлежащую практику производства GMP и Надлежащую практику оптовой продажи GDP.
                ul.list--bullet
                    li Четкое распределение функций и ответственности персонала. Непрерывное вовлечение персонала в достижение стратегических целей предприятия.
                    li Обучение, мотивация и стимулирование персонала направленное на производство качественной продукции.
                    li Внедрение передовых технологий и новейших методов контроля качества.
                    li Налаживание долгосрочных партнёрских отношений с поставщиками и клиентами для обеспечения конкурентных преимуществ предприятия.
                    li Управление процессами фармацевтической системы качества как динамической, сбалансированной системой в соответствии с требованиями GMP и ISO 9001.
            .inner-title
                h1 Уполномоченные лица
            .inner.animated(data-animation="zoomIn", data-animation-delay="500")
                p Уполномоченное лицо (Qualified Person, QP) относится к ключевому персоналу предприятия и только по его решению возможна реализация серии лекарственных средств. При вводе лекарственных средств в гражданский оборот Уполномоченное лицо производителя лекарственных средств осуществляет подтверждение соответствия лекарственных средств требованиям, установленным при их государственной регистрации, и гарантирует, что лекарственные средства произведены в соответствии с правилами производства и контроля качества лекарственных средств.
                p В компании реализована концепция QP, обеспечивающая принцип независимости службы качества от производства:
                ul.list--bullet
                    li
                        b Подразделения обеспечения качества (QA) и контроля качества (QC) осуществляют функционирование фармацевтической системы качества
                        |  и соответствующий контроль эффективности, постоянное совершенствование.
                    li
                        b Ключевые должности заняты квалифицированным персоналом с соответствующим образованием
                        |  и достаточным опытом работы (по специальности в сфере производства, обеспечения и контроля качества лекарственных средств).
                    li
                        b Проведение самоинспекций, поддержание надлежащего уровня эффективности обеспечивается системой внедрения предупреждающих и корректирующих мероприятий.
                        |  Ответственность за качество продукции возложена на весь персонал предприятия.
                    li
                        b Создана и функционирует система обучения сотрудников,
                        |  охватывающая весь персонал, который задействован в производстве лекарственных средств, их хранении, контроле и обеспечении качества, обеспечении надлежащего функционирования технических систем производственных участков предприятия и т. д. Имеется документированная регламентация относительно программ обучения, тренингов, оценки эффективности обучения;
                    li
                        b Подтверждение соответствия лекарственных средств требованиям,
                        |  установленным при их государственной регистрации, соответствия правилам производства и контроля качества лекарственных средств гарантируется Уполномоченным лицом.
                .text--center
                    h1 Качество продукции
                ul.list--bullet
                    li
                        b Внедрена система оценки и квалификации поставщиков/производителей
                        |  исходного сырья и упаковочных материалов, управления изменениями, контроля отклонений, обзора по качеству, управления рисками и пр.
                    li
                        b Проведение валидационных мероприятий
                        |  осуществляется самостоятельно, благодаря наличию собственного парка тестового валидационного оборудования и квалифицированных специалистов.  «ГЕРОФАРМ-Био» своими силами проводит аттестацию чистых помещений, а также квалификацию инженерных систем и оборудования: термостатов, автоклавов, сухожаровых шкафов, климатических камер, холодильных установок, проводит картографию складских помещений.
                    li
                        b Ежегодно составляются обзоры качества продукции
                        |  с целью подтверждения постоянства имеющихся процессов, соответствия действующим спецификациям как на исходное сырье, так и на готовую продукцию, а также установления возможности улучшения продукции и процессов.
                p Фармацевтическая система качества позволяет обеспечивать, поддерживать и контролировать соответствие продукта на всех этапах жизненного цикла.
    section.products-text
        .container.animated(data-animation="zoomIn", data-animation-delay="500")
            .text--center
                .decor-title
                    h1 Фармаконадзор
            p Нежелательной реакцией называется негативная с медицинской точки зрения реакция организма, связанная с применением лекарственного препарата. Информация поступает от врачей, фармацевтических работников, пациентов.
            p Осуществляется регулярный мониторинг публикаций по препаратам. Вся полученная информация по безопасности вносится в базу данных, анализируется и учитывается при разработке плана управления рисками. Осуществление деятельности по фармаконадзору происходит при взаимодействии с регуляторными органами стран, в которых зарегистрированы лекарственные препараты. Внутри компании проводится регулярное обучение сотрудников с целью повышения качества фармаконадзора.
            p Цель нашей деятельности по фармаконадзору – гарантия качества и безопасности лекарственных препаратов, предоставление полной и объективной информации о них врачам и пациентам, минимизация возможных рисков при их приеме:
            ul.list--inline.text--left.text__md--center.margtop60
                li.margbot10.margright50: a.btn.btn__sm.btn--transparent(href="#") Анкета пациента
                li.margbot10: a.btn.btn__sm.btn--transparent(href="#") Анкета врача