main.page-main
    section.top-head
        .banner.banner-gallery
            .inner
                h2= title
    section.gallery
        .container
            .gallery__inner.animated(data-animation="zoomIn", data-animation-delay="500")
                p ОАО «ГЕРОФАРМ-Био» (ранее ОАО «Национальные биотехнологии») входит в группу компаний «ГЕРОФАРМ».
                    br
                    | Это современное биофармацевтическое производство полного цикла. Гибкая технологическая платформа позволяет производить различные рекомбинантные белки и готовые лекарственные формы на их основе.
                p Компания отдает предпочтение сложным наукоемким технологиям, требующим профессиональных знаний и компетенций. Сегодня на предприятии выпускаются стерильные лекарственные препараты: лиофилизированные формы, растворы и суспензии во флаконах, картриджах и шприц-ручках. Собственная запатентованная технология производства этих препаратов является сложным многоступенчатым процессом. Все выпускаемые ОАО «ГЕРОФАРМ-Био» лекарственные средства самого высокого качества и соответствуют международным стандартам.
                p Первый и единственный в России промышленный производитель генно-инженерного инсулина человека по принципу полного цикла: от субстанции до готовой лекарственной формы;
                    br
                    | Мощности завода достаточны для обеспечения 30% потребности страны в инсулине; Реализация инвестиционного проекта по строительству второй производственной площадки позволит покрыть 100% потребности РФ в инсулине и его аналогах. Новым шагом станет вывод препарата на экспорт;
                p На предприятии налажен выпуск оригинальных препаратов Кортексин®, Ретиналамин® и Пинеамин®;
                    br
                    | Производство соответствует  требованиям фармацевтической системы качества, опирающейся на стандарты GMP и ISO 9001;
                    br
                    | Промышленный комплекс располагает современным высокотехнологичным оборудованием от ведущих мировых производителей: Bioengineering, GE Lifescience, Stilmas, Olsa, Groninger, Seidenader, Bausch+Ströbel, Uhlmann, Pester;
                p Испытательная лаборатория аттестована Федеральным агентством по техническому  регулированию.
        .circle-item
            - for (var x = 1; x < 17; x++)
                a.imageLink(href="images/slider.jpg"): img(src="images/slider.jpg", alt="")