extends layouts/_default

block title
    title Gerofarm
    - var title = 'Карьера'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_career

block siteFooter
    include partials/_footer
