extends layouts/_default

block title
    title Gerofarm
    - var title = 'Корпоративная жизнь'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_gallery

block siteFooter
    include partials/_footer
