extends layouts/_default

block title
    title Gerofarm
    - var title = 'Мемантинол'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_product

block siteFooter
    include partials/_footer
