extends layouts/_default

block title
    title Gerofarm
    - var title = 'Технологии и оборудование'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_production

block siteFooter
    include partials/_footer
