extends layouts/_default

block title
    title Gerofarm
    - var title = 'Препараты'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_products

block siteFooter
    include partials/_footer
