extends layouts/_default

block title
    title Gerofarm
    - var title = 'Фармацевтическая система качества'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_system

block siteFooter
    include partials/_footer
