extends layouts/_default

block title
    title Gerofarm
    - var title = 'Типовая страница'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_text

block siteFooter
    include partials/_footer
