//- Custom Configuration
block config
  - var baseUrl = '/'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie8 no-js' lang='ru'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='ru'>
<!--<![endif]-->

include ../mixins/_mixins

head
  meta(charset="UTF-8")
  block title
    title Gerofarm

  <!--[if IE]>
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  <![endif]-->
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="")
  meta(name="keywords", content="")
  meta(name='author', content='ViralL')
  link(rel="canonical" href="http://www.noob-ui.ru/")
  meta(name="format-detection", content="telephone=no")
  meta(name="format-detection", content="address=no")

  link(rel="shortcut icon", href="favicon.ico")

  // Styles
  //- build:css({.tmp,app}) styles/plugins.css -->
  // bower:css
  link(rel='stylesheet', href='../bower_components/magnific-popup/dist/magnific-popup.css')
  // endbower
  link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css')
  link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick-theme.css')
  //- endbuild -->
  //- build:css({.tmp,app}) styles/main.css -->
  link(rel="stylesheet", href="styles/main.css")
  //- endbuild -->

block pageName
  -var pageName = "main"

body(class="page-#{pageName}")
  <!--[if lt IE 9]>
  p.browsehappy
    | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
    a(href="http://browsehappy.com/", target="_blank") современных браузеров.
    |  Это бесплатно и займет всего несколько минут.
  <![endif]-->

  //- header
  block siteHeader
  block siteMain
  block siteFooter

  block scripts
    <!--[if lt IE 9]>
    script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    //- build:js(./app/) scripts/plugins.js -->
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/slick-carousel/slick/slick.js')
    script(src='../bower_components/select2/dist/js/select2.js')
    script(src='../bower_components/magnific-popup/dist/jquery.magnific-popup.js')
    // endbower
    script(src='scripts/plugins/jquery.appear.js')
    //- endbuild -->
    //- build:js(.tmp) scripts/main.js -->
    script(src="scripts/main.js")
    //- endbuild -->

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');

| </html>